<h2 class="no-bold zero-bot">Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "text-input", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "text-input", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <br>
    <!--<i>(leave blank if you don't want to change it)</i><br>-->
    <%= f.password_field :password, class: "text-input", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "text-input", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br> 
    <!-- <i>(we need your current password to confirm your changes)</i><br> -->
    <%= f.password_field :current_password, class: "text-input", autocomplete: "off" %>
  </div>

    <%= f.submit "Update" %>
<% end %>

<div class="cancel-box">
<h3 class="zero-bot zero-top">Cancel my account</h3>

<p class="zero-bot" style="margin-top: 10px;">Unhappy? 
	<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "danger" %>
</p>
</div>

<div class="link-default">
	<%= link_to :back, :class=>"default" do %>
		<span>Back</span>
	<% end %>
</div>
