<h2 class="no-bold zero-bot">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "text-input",  autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "text-input", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em style="font-size: 11px; margin-left: 5px;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, class: "text-input",  autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "text-input",  autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "default" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
