<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name), :class => "default" do %>
	<div class="google-width">Sign In</div>
  <% end %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name), :class => "default" do %>
  <div class="google-width">Sign Up</div>
  <% end %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to new_password_path(resource_name), :class => "default" do %>
	<div class="google-width">Forgot your password?</div>
  <% end %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to new_confirmation_path(resource_name), :class => "default" do %><br /></div>
	<span>Didn't receive confirmation instructions?</span>
  <% end %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to new_unlock_path(resource_name), :class => "default" do %>
	<span>Didn't receive unlock instructions?</span>
  <% end %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  	<% if provider.to_s.titleize.split.first == "Google" %>
	   
	    	<%= link_to  omniauth_authorize_path(resource_name, provider), :class=>"google-sign-in" do %>
	    	 <div>
	    	<%= image_tag "google.png" %>
	    	<span>Sign In with Google</span>
			</div>
	    	<% end %>
	<% else %>
     	<div class="link-default">
			<%= link_to "Sign In with #{provider.to_s.titleize.split.first}", omniauth_authorize_path(resource_name, provider), :class => "default" %>
		</div>
    <% end%>
    <br>
  <% end -%>
<% end -%>
