<%= form_with(model: event_invite, local: true) do |form| %>
  <% if event_invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_invite.errors.count, "error") %> prohibited this event_invite from being saved:</h2>

      <ul>
      <% event_invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :event_invite_role %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :event_invite_status %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.number_field :sender_id, id: :event_invite_sender_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id, id: :event_invite_event_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.number_field :recipient_id, id: :event_invite_recipient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
