
<div class="person">

</div>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Status</th>
      <th>Sender</th>
      <th>Event</th>
      <th>Recipient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_invites.each do |event_invite| %>
      <tr>
        <td><%= event_invite.role %></td>
        <td><%= event_invite.status %></td>
        <td><%= event_invite.sender_id %></td>
        <td><%= event_invite.event_id %></td>
        <td><%= event_invite.recipient_id %></td>
        <td><%= link_to 'Show', event_invite %></td>
        <td><%= link_to 'Edit', edit_event_invite_path(event_invite) %></td>
        <td><%= link_to 'Destroy', event_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Invite', new_event_invite_path %>
