<p>
  <strong>Role:</strong>
  <%= @event_invite.role %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event_invite.status %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @event_invite.sender_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_invite.event_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @event_invite.recipient_id %>
</p>

<%= link_to 'Edit', edit_event_invite_path(@event_invite) %> |
<%= link_to 'Back', event_invites_path %>
