<% relationship = notification.entity %>

<div class="notif follow-request" fid="<%= relationship.id %>">
  <%= link_avatar notification.sender, size: 90 %>
  <span><%= notification.sender.name %></span>

  <%= link_to "", notification_updated_path(notification, "confirm"), method: :post, remote: true, class: "confirm" %>
  <%= link_to "", notification_updated_path(notification, "deny"), method: :post, remote: true, class: "deny" %>
</div>