<% group = big_group_card %>

<div class="large-card grey-box">
  <%= link_avatar group %>

  <div class="main">
    <%= link_to group.name, group, class: "normal title" %>
    <h3 class="members"><%= group.size %> <%= 'Member'.pluralize(group.size) %></h3>

    <% if group.pending_invite_request? current_user %>
      <h3>Invite Request Sent!</h3>
    <% else %>
      <%= link_to "Join Group", join_group_path(group), class: "wide button" %>
    <% end %>
  </div>
</div>
