<div class="user-with-options">
  <div class="overview">
    <div class="name-and-avatar">
      <%= link_avatar(membership.user) %>
      <h3 class="name"><%= membership.user.name %></h3>
    </div>

    <h4 class="role"><%= membership.role %></h4>
  </div>

  <div class="options" style="display: none">
    <% if membership.group.owner == current_user %>
      <div>
        <% assignable_roles(membership).each do |role| %>
          <%= link_to "Make #{role.humanize}", user_group_path(membership, role: role),
                      method: :put, class: "wide hollow orange button" %>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= link_to "Remove", user_group_path(membership), method: :delete, class: "wide hollow red button" %>
    </div>
  </div>
</div>