<div class="user-with-options">
  <div class="overview">
    <div class="name-and-avatar">
      <%= link_avatar(membership.user) %>
      <h3 class="name"><%= membership.user.name %></h3>
    </div>

    <h4 class="role"><%= membership.role %></h4>
  </div>

  <div class="options" style="display: none">
    <div>
      <% assignable_roles(membership).each do |role| %>
        <%= link_to "Make #{role.humanize}", user_group_path(membership, role: role),
                    data: { confirm: role_assign_confirmation(role) },
                    method: :put, class: "wide hollow orange button" %>
      <% end %>
    </div>

    <div>
      <% if can? :destroy, membership %>
        <%= link_to "Remove", user_group_path(membership),
                    data: { confirm: remove_confirmation(membership) },
                    method: :delete, class: "wide hollow red button" %>
      <% end %>
    </div>
  </div>
</div>