<div class="user-with-options">
  <div class="overview">
    <div class="name-and-avatar">
      <%= link_avatar(membership.user) %>
      <h3 class="name"><%= membership.user.name %></h3>
    </div>

    <h4 class="role"><%= membership.role %></h4>
  </div>

  <div class="options" style="display: none">
    <div>
      <%=  %>
      <%= link_to "Make Moderator", user_group_path(membership, update: :role, to: :admin), method: :put, class: "wide hollow orange button" %>
      <%= link_to "Make Member", user_group_path(membership, update: :role, to: :member), method: :put, class: "wide hollow orange button" %>
    </div>

    <div>
      <%= link_to "Remove", user_group_path(membership), method: :delete, class: "wide hollow red button" %>
    </div>
  </div>
</div>