<br>
<% @groups.each do |group| %>
	<a href="/group/<%= group.id %>">View Group</a>
	<a href="/group/<%= group.id %>/edit">Edit Group</a>
	Group: <%= group.name %>, 
	Role: <%= UsersGroup.where(user_id: current_user.id, group_id: group.id).first.role %>
	<a href="/groups/destroy?id=<%= group.id %>" class="default red"><span>Delete Group</span></a>
	<br>
<% end %>
<br>
<a href="/groups/create?name=New+Group" class="default"><span>Create Group</span></a>
