<%= stylesheet_link_tag "groups" %>
<%= javascript_include_tag "groups/index" %>
<div class="page-container">
  <h2 class="flex-text-img left-align">
    <%= image_tag "person-one", alt: "" %>
    Your Groups
  </h2>
  <% if current_user.groups.empty? %>
    <p class="left-align">
      You don't belong to any groups! Join a group and it will show up here.
    </p>
  <% else %>
    <div class="two-col-card-cont">
      <%= render partial: "small_group_card", collection: current_user.groups, as: :group %>
    </div>
  <% end %>

  <div id="groups-list-header">
    <div id="header-info">
      <h2 class="flex-text-img left-align">
        <%= image_tag "globe", alt: "" %>
        Public Groups
      </h2>
      <%= link_to "+ Create Group", new_group_path, class: "large green button" %>
    </div>

    <p>The groups listed below are all public. Check your notifications for private group invitations.</p>
  </div>

  <% if @joinable_groups.any? %>
    <div id="joinable-groups-list" class="two-col-card-cont">
        <%= render partial: "large_group_card", collection: @joinable_groups %>
    </div>
  <% else %>
    <h4> There are no public groups you don't belong to on Carpe, but that means you can make one! Create a public group and all Carpe users will see it here. </h4>
  <% end %>
</div>
