<br>
<% @groups.each do |group| %>
<div>
	<a href="/group/<%= group.id %>"><%= group.name %></a>
	<a href="/group/<%= group.id %>/edit">Edit Group</a>
	Role: <%= UsersGroup.where(user_id: current_user.id, group_id: group.id).first.role || "normal" %>
	<a href="/groups/destroy?id=<%= group.id %>" class="default red"><span>Delete Group</span></a>
	<% group.users.each do |user| %>
		<div class="avatar">
			<%= link_to(user) do %>
				<img src="<%= user.user_avatar(100) %>">
			<% end %>
		</div>
	<% end %>
	<br>
</div>
<% end %>
<br>
<a href="/groups/create?name=New+Group" class="default"><span>Create Group</span></a>
