<%= stylesheet_link_tag "profile" %>
<%= stylesheet_link_tag "groups" %>
<%= javascript_include_tag "group" %>

<div class="group profile-header">
	<% if @group.banner.exists? %>
    <div id="header-image" style="background-image:url(<%= @group.banner.url(:desktop) %>);"></div>
	<% else %>
		<div id="header-image"></div>
	<% end %>

    <div class="header-block">
      <div class="round-avatar">
        <img src=<%= @group.avatar_url %>>
      </div>

      <div class="profile-name-block">
        <div class="profile-name"><%= @group.name %></div>

          <div class="privacy-block">
            <div class="profile-privacy"><%= @group.privacy.titleize %></div>
            <%= link_to("Edit Group", edit_group_path(@group), class: "edit button") if can?(:update, @group) %>
            <% if current_user.in_group?(@group) %>
              <%= link_to("Leave Group", leave_group_path(@group), class: "red button") %>
            <% else %>
              <%= link_to "Join Group", join_group_path(@group), class: "green button" %>
            <% end %>
          </div>
      </div>
    </div>

    <div id="profile-buttons">
      <%= link_to group_path(@group, view: :overview) do %>
        <div class="<%= "curr" if @view == :overview %>">Overview</div>
      <% end %>

      <%= link_to group_path(@group, view: :schedule) do %>
        <div class="<%= "curr" if @view == :schedule %>">Schedule</div>
      <% end %>

      <%= link_to group_path(@group, view: :members) do %>
        <div class="<%= "curr" if @view == :members %>">
          <%= pluralize(@group.members.count, "Member") %>
        </div>
      <% end %>
    </div>
</div>

<div id="user-invites-overlay-box" class="overlay-box">
  <!--<span class="red close button"></span>-->
  <h3>Invite Members</h3>
  <%= render "shared/user_adder", name: "user_ids" %>
  <span class="green button" id="group-inviter-send-invite" onclick="sendInvites(this, <%= @group.id %>)">Send Invite</span>
</div>

<%= render "groups/pages/#{@view.to_s}" %>