<h2 class="no-bold">Activity</h2>
<% ordered_friends = @all_friends.sort_by{|f| f[0].created_at}.reverse %>
<% if ordered_friends.empty? %>
	<span class="empty-text">
		<% if @profile %>
			It looks like you don't have any activity yet!
		<% else %>
			It looks like <%= @user.name.split(" ")[0] %> doesn't have any activity yet.
		<% end %>
	</span>
<% else %>
	<% ordered_friends.each do |arr| %>
		<div class="activity-listing">
			<% fship = arr[0]; user = arr[1]%>
			<%= link_to(user) do %>
				<div class="avatar" style="float: left">
					<img src="<%= user.user_avatar(50) %>" style="width: 50px; height: 50px;">
				</div>
			<% end %>
			<div class="text"><%= @user.name %> connected with <%= user.name %> on <%= fship.created_at.strftime("%b. %d, %Y") %></div>
		</div>
	<% end %>
<% end %>
