<h2 class="no-bold">Activity</h2>
<% ordered_friends = @all_friends.sort_by{|f| f.created_at}.reverse %>
<% if ordered_friends.empty? %>
	<span class="empty-text">
		<% if @profile %>
			It looks like you don't have any activity yet!
		<% else %>
			It looks like <%= @user.name.split(" ")[0] %> doesn't have any activity yet.
		<% end %>
	</span>
<% else %>
	<% ordered_friends.each do |relationship| %>
		<div class="activity-listing">
			<%= link_to(relationship.follower) do %>
				<div class="avatar" style="float: left">
					<img src="<%= relationship.follower.user_avatar(50) %>" style="width: 50px; height: 50px;">
				</div>
			<% end %>
			<div class="text"><%= @user.name %> was followed by <%= relationship.follower.name %> on <%= relationship.created_at.strftime("%b. %d, %Y") %></div>
		</div>
	<% end %>
<% end %>
