<h2 class="no-bold">Activity</h2>
<% @activity = @activity.sort_by{|f| f.created_at}.reverse %>
<% if @activity.empty? %>
  <span class="empty-text">
    <% if @profile %>
      It looks like you haven't followed anyone yet. <br> Carpe works best when enjoyed with others, so
      consider adding some connections to your profile!
    <% else %>
      It looks like <%= @user.name.split(" ")[0] %> doesn't have any connections to other users yet.
    <% end %>
  </span>
<% else %>
  <% @activity.each do |relationship| %>
    <div class="activity-listing grey-box">
      <%= link_to(relationship.other_user(@user)) do %>
        <div class="avatar float">
          <img src="<%= relationship.other_user(@user).avatar_url(50) %>" class="width-50">
        </div>
      <% end %>
      <div class="text">
        <% if @user == relationship.followed # if someone followed this user %>
          <%= @user.name %> was followed by <%= relationship.other_user(@user).name %> on <%= relationship.created_at.strftime("%b. %d, %Y") %>
        <% else # if this user followed someone %>
          <%= @user.name %> followed <%= relationship.other_user(@user).name %> on <%= relationship.created_at.strftime("%b. %d, %Y") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Manual activity listing for joining Carpe -->
<div class="activity-listing grey-box">
  <div class="avatar float">
    <%= image_tag("pages/CarpeLetter.png", class: "carpe-logo") %>
  </div>
  <div class="text">Joined Carpe on <%= @user.created_at.strftime("%b. %d, %Y") %></div>
</div>
