<h2 class="no-bold">Schedule</h2>

<%= stylesheet_link_tag "jquery-ui.min" %>
<%= stylesheet_link_tag "schedule" %>
<%= javascript_include_tag "scheduler" %>

<div class="ui-widget-overlay" onclick="hideOverlay();"></div>
<div class="overlay-box">
	<div class="overlay-time">10:00am - 12:00pm</div>
	<div class="overlay-title">CS 331</div>
	<div class="overlay-desc">Look at this young description of a CS 331 event that we are talking about in this place</div>
</div>

<div class="cat-overlay-box" data-id="" >
	<div class="catTopOverlay">
		<span class="catOverlayTitle" contenteditable=true ></span>		
		<%= image_tag "checkmark-wht.png", :class => "sch-cat-icon no-drag", :onclick => "saveCategory(event, this, $('.cat-overlay-box').attr('data-id'));" %>
		<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "delCategory(event, this);" %>
	</div>
	<div class="catRemainderOverlay">
		<div class="futureColors"></div>
	</div>
</div>

<br>
<div id="cont-hold">
	<div class="sch-but-holder">
		<span class="sch-but sch-week-prev" onclick="addDates(new Date(refDate.getYear()+1900,refDate.getMonth(),refDate.getDate()-7), true)">Previous</span> 
		&nbsp; 
		<span class="sch-but sch-week-next" onclick="addDates(new Date(refDate.getYear()+1900,refDate.getMonth(),refDate.getDate()+7), true)">Next</span> 
			<!-- <text> is not an actual tag, but this allows for direct styling and no excess spacing issues with <div> or <p> -->
		<!-- <span onclick="saveEvents()">Save</span> -->
	</div>
	
	<div id="sch-sidebar">
		<span id="sidebar-title" title="Drag a category onto the schedule to create a schedule item." onclick="createCategory();">Categories</span>
			
		<div id="sch-tiles">
			<% @user.categories.each_with_index do |cat, index| %>
				<div class="sch-evnt category" data-id="<%= cat.id %>" style="background-color:<%= cat.color %>; top: <%= 105*index %>px;" onclick="showOverlay($(this))">
					<div class="evnt-time">7:30</div>
					<div class="evnt-numID">0</div>
					<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="showOverlay($(this).parent())"><%= cat.name %></div>
					<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())"></div>
					
					
					<%= image_tag "quill-wht.png", :class => "sch-evnt-editCat sch-cat-icon no-drag", :onclick => "editCategory(event, this, #{cat.id}, \"#{cat.name}\", \"#{cat.color}\");" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-delCat sch-cat-icon no-drag", :onclick => "delCategory(event, this, #{cat.id});" %>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "editEvent(event, this);" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
					<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
					
					
				</div>
			<% end %>
		</div>
		
		<div class="cat-add" onclick="createCategory();">+ New Category</div>
	</div>
	
	<%= image_tag "divider-orng.png", :height => "505px", :style => "float: left;" %>
	
	<div id="sch-main">
		<div id="sch-days">
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Monday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Tuesday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Wednesday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Thursday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Friday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Saturday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Sunday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
		</div>
	</div>
</div>

<script>
	var eventsLoaded = <%= raw @user.events.to_json %>;
</script>
