<% content_for :title do %> - Find Friends<% end %>

<div class="page-container">
	<h1 class="page-titler">Find your friends.</h1>
	<h3 class="page-desc">
		We've listed some people you may know to start. If you can't find someone, you can search for them below.
		<%= form_tag("/find_friends", method: "get") do %>
		  <%= text_field_tag(:q, params[:q]) %>
		  <%= submit_tag("Search") %>
		<% end %>
	</h3>
	<% if @users != nil %>
		<% users = @users %>
		<h3>Showing results for "<%= params[:q] %>"</h3>
	<% else
		users = User.all
	end %>

	<% if users.size > 0 %>
	<% users = users.sort_by{|u| -current_user.mutual_friends(u).count }%>
	<% users.each do |user| %>
		<% status = current_user.friend_status(user) %>
		<% if current_user != user and status != "friend"  %>
			<%= render "shared/user_box", user: user, status: status %>
		<% end %>
	<% end %>
	<% else %>
		No users found with that name!
	<% end %>
</div>
