<h1>User Viewer</h1>
<% @users.each do |user| %>
	User | id: <%= user.id %> | name: <%= user.name %> | email: <%= user.email %> 
	<% if user.provider %>
	| provider: <%= user.provider %> 
	<% end %>
	<% if current_user and current_user != user %>
		<% if !current_user.is_friends(user) %>
			<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
		<% else %>
			| <span class="friend-status">Friend</span>
		<% end %>
	<% end %>
	<br>
<% end %>
<% if @users.empty? %>
Woops, there are no users in this db.
<% end %>