<% content_for :title do %> - <%= @user.name %>'s Profile <% end %>
<%= stylesheet_link_tag "profile" %>
<% if params[:p] == "schedule" %>
	<%= stylesheet_link_tag "schedule" %>
<% end %>

<div id="profile-header">
	<div id="header-image"></div>
	<div class="page-container">
		<div class="profile-avatar avatar">
			<img src=<%= @user.user_avatar(200)%>>
		</div>
		<h1 id="profile-name"><a href="?"><%= @user.name %></a></h1>
		<br><br><br>
		<% if current_user and !@profile %>
			<div id="profile-friend">
				<% status = current_user.friend_status(@user) %>
				<% if status == nil #not friends %>
					<%= link_to friendships_path(:friend_id => @user), :method => :post, :class => "default green" do %>
						<span>Add Friend</span>
					<% end %>
				<% elsif status == "friend" %>
					<span class="friend-label">Friend</span>
				<% elsif status == "pending" || status == "denied" %>
					<span class="friend-label">Pending...</span>
				<% end %>
			</div>
		<br><br>
		<% end %>
		<div id="profile-info">
			<%= @user.friends_count %> Friends
		</div>
		<div id="profile-buttons">
			<a href="?"><div class="<%= "curr" if !params[:p] %>">Friends</div></a>
			<a href="?p=activity"><div class="<%= "curr" if params[:p] == "activity" %>">Activity</div></a>
			<a href="?p=schedule"><div class="<%= "curr" if params[:p] == "schedule" %>">Schedule</div></a>
		</div>
	</div>
</div>
<div class="page-container">
	<br>
	<div style="text-align: left">
		Joined Carpe on <%= @user.created_at.strftime("%b. %d, %Y") %><br>
		Last active: <%= @user.last_sign_in_at.strftime("%b. %d, %Y at %I:%M %P UTC") %>
	</div>
	<% if params[:p] == "mutual_friends" %>
		<%= render "mutual_friends_listing" %>
	<% elsif params[:p] == "activity" %>
		<%= render "activity" %>
	<% elsif params[:p] == "schedule" %>
		<%= render "schedule" %>
	<% else %>
		<%= render "friend_listing" %>
	<% end %>
</div>
