
<div id="profile-header">
	<div id="header-image"></div>
	<div class="page-container">
		<div class="profile-avatar avatar">
			<img src=<%= @user.user_avatar(200)%>>
		</div>
		<h1 id="profile-name"><%= @user.name %></h1>
	</div>
</div>
<div class="page-container">
	<h3>Friends</h3>
	<div id="friend-list">
		<% all_friends = [] %>
		<% for fship in @user.friendships %>
			<% all_friends.push([fship, fship.friend])%>
		<% end %>
		<%# Inverse friends are when the other person added you, so conveniently, we can who added who.
		%>
		<% for usr in @user.inverse_friends %>
			<% friendship = Friendship.where(user_id: usr.id, friend_id: current_user.id).first %>
			<% all_friends.push([friendship, usr])%>
		<% end %>
		
		<% for arr in all_friends %>
			<% friendship = arr[0]; user = arr[1] %>
			<% if @user == current_user %>
				<div class="friend-listing" style="width: 350px">
					<a href="/u/<%= user.id %>">
						<div class="avatar" style="float: left">
							<img src="<%= user.user_avatar(100) %>">
						</div>
					</a>
					<div class="friend-details">
						<span class="friend-name"><%= friendship.friend.name %></span><br>
						<%= friend_count = user.friendships.count + user.inverse_friends.count %> Friends <br>
						Friends since: <%= friendship.created_at.strftime("%b. %d, %Y")%> <br>
						(<%= link_to "remove", friendships_path(:id => friendship.id), :method => :delete %>)
					</div>
				</div>
			<% else %>
				<div class="friend-listing" style="width: 300px">
					<a href="/u/<%= user.id %>">
						<div class="avatar" style="float: left">
							<img src="<%= user.user_avatar(100) %>">
						</div>
					</a>
					<div class="friend-details">
						<span class="friend-name"><%= friendship.friend.name %></span><br>
					</div>
				</div>
			<% end %>
		<% end %>

	</div>
	<% if @user == current_user %>
		<%= link_to "Find Friends", "/find_friends" %>
	<% end %>
</div>
