
<div id="profile-header">
	<div id="header-image"></div>
	<div class="page-container">
		<div class="profile-avatar avatar">
			<img src=<%= @user.user_avatar(200)%>>
		</div>
		<h1 id="profile-name"><%= @user.name %></h1>
		<br><br><br>
		<% if !@profile %>
			<div id="profile-friend">
				<% if current_user and !current_user.is_friend?(@user) %>
					<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post, :class => "default green" %>
				<% else %>
					<span class="friend-label">Friend</span>
				<% end %>
			</div>
		<br><br>
		<% end %>
		<div id="profile-info">
			<%= @user.friends_count %> Friends
		</div>
	</div>
</div>
<div class="page-container">
	<br>
	<div style="text-align: left">
		Joined Carpe on <%= @user.created_at.strftime("%b. %d, %Y") %><br>
		Last active: <%= @user.last_sign_in_at.strftime("%b. %d, %Y at %I:%M %P UTC") %>
	</div>
	<h3>Friends
		<% if current_user and !@profile %>
			<span class="no-bold">(<%= current_user.mutual_friends(@user).count %> Mutual)</span>
		<% end %>
	</h3>
	<div id="friend-list">
		<% for arr in @all_friends %>
			<% friendship = arr[0]; user = arr[1] %>
			<% if @profile %>
				<div class="friend-listing" style="width: 310px">
					<a href="/u/<%= user.id %>">
						<div class="avatar" style="float: left">
							<img src="<%= user.user_avatar(100) %>">
						</div>
					</a>
					<div class="friend-details" style="margin-top: -10px;">
						<span class="friend-name"><%= user.name %></span><br>
						<%= user.friends_count %> Friends <br>
						Friends since: <%= friendship.created_at.strftime("%b. %d, %Y")%> <br>
						<%= link_to "Remove", friendships_path(:id => friendship.id), :method => :delete, 
						:class => "default red", :style => "top: 5px;" %>
					</div>
				</div>
			<% else %>
				<div class="friend-listing" style="width: 300px">
					<a href="/u/<%= user.id %>">
						<div class="avatar" style="float: left">
							<img src="<%= user.user_avatar(100) %>">
						</div>
					</a>
					<div class="friend-details">
						<span class="friend-name"><%= user.name %></span><br>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<% if @user == current_user %>
		<%= link_to "Find Friends", "/find_friends", :class => "default" %>
	<% end %>
</div>
