<% content_for :title do %> - <%= @user.name %>'s Profile <% end %>
<%= stylesheet_link_tag "profile" %>
<% if params[:p] == "schedule" %>
	<%= stylesheet_link_tag "schedule" %>
<% end %>

<div id="profile-header">

	<% if @user.has_avatar %>
		<div id="header-image-blur" style="background-image:url(<%= @user.user_avatar(200)%>);"></div>
	<% else %>
		<div id="header-image"></div>
	<% end %>

	<div class="page-container">
		<div class="profile-avatar avatar">
			<img src=<%= @user.user_avatar(200)%>>
		</div>
		<div id="profile-text">
			<h1 id="profile-name" class="zero-top zero-bot"><a href="?"><%= @user.name %></a></h1>
			<% if current_user and !@profile %>
				<div id="profile-friend">
					<%= render "friend_button", user: @user %>
				</div>
			<% end %>
			<div id="profile-info">
				<%= pluralize(@user.friends_count, "Connection") %>
			</div>
		</div>
		<div id="profile-buttons">
			<a href="?p=schedule"><div class="<%= "curr" if @tab == "schedule" %>">Schedule</div></a>
			<a href="?p=friends"><div class="<%= "curr" if @tab == "friends" %>">Connections</div></a>
			<a href="?p=activity"><div class="<%= "curr" if @tab == "activity" %>">Activity</div></a>
		</div>
	</div>
</div>
<div class="page-container">
	<br>
	<div style="text-align: left">
		Joined Carpe: <%= relative_time_ago(@user.created_at, true) %> <br>
	</div>
	<% if params[:p] == "mutual_friends" %>
		<%= render "mutual_friends_listing" %>
	<% elsif params[:p] == "activity" %>
		<%= render "activity" %>
	<% elsif params[:p] == "schedule" or !params[:p] %>
		<%= render "schedule" %>
	<% elsif params[:p] == "friends" %>
		<%= render "friend_listing" %>
	<% end %>
</div>
