<div class="event-tile <%= "current" if event.current? %>">
  <div class="inner"  style="border-color: <%= event.category.color %>">
    <div class="tile-text">
      <b><%= event.get_html_name.html_safe %></b>
      <% if event.location.present? %>
      in <%= event.location %>
      <% end %>
      <br>
      <% if event.current? #print full info about current events %>
 	     <%= relative_event_time_tag(event) %>
      <% else #and print start for future events %>
	      <%= relative_time_tag(event.date, true) %>
      <% end %>
      <span class="toggle-details">Toggle Details</span>
    </div>
    <div class="details">
      <%= relative_time_tag(event.date, true) %> to <%= relative_time_tag(event.end_date) %>. <br>
      <% unless event.description.empty? %>
      Description: <%= event.description %>
      <% end %>
    </div>
    <div class="square" style="color: <%= event.category.color %>"><%= event.category.get_html_name.html_safe %></div>
  </div>

  <% if event.current? %>
    <div class="current-label">Going on Now</div>
  <% end %>
</div>