<%= stylesheet_link_tag "header" %>

<div class="header-main">
	<div id="menu-holder">
		<div id="header-mob-menu"><%= image_tag "menu.svg", :width => "35" %></div>
		<div id="mobile-menu">
			<div><a href="/">Home</a></div>
			<% if current_user %>
				<div><a href="/schedule">My Schedule</a></div>
			<% end %>
		</div>
		<span class="carpe-font" id="header-logo">
			<a href="/"><%= image_tag "toplogo.png", :class => "carpeheader" %></a>
		</span>
	</div>
	<span class="header-text">
		&nbsp; 
		<a href="/">Home</a> &nbsp; &nbsp; 
		<% if current_user %>
			<a href="/schedule" class="<%= current_page?('/schedule') ? 'active' : ''%>">My Schedule</a>
			<%= form_tag("/search_users", method: "get", id: "users-search") do %>
			  <%= text_field_tag(:q, nil, placeholder: "Search People") %>
			<% end %>
		<% end %>
	</span>
	<% if current_user %>
		<div class="bell-hold">
			<% friend_requests = current_user.inverse_friendships.where(:confirmed => nil) %>
			<% notif_general = current_user.notifications.where(:viewed => false) %>
			<% notif_size = notif_general.size + friend_requests.size %>
			<% if notif_size > 0 %>
				<div id="num"><%= notif_size %></div>
			<% end %>
			<%= image_tag "bellg.svg", class: "bell" %>
		</div>
		<div id="notif-panel">
			<% if notif_size > 0 %>
				<% if friend_requests.size > 0 %>
					Friend Requests
					<% friend_requests.each do |n| %>
						<div class="notif">
							<a href="/u/<%= n.user_id %>">
								<div id="user-avatar">
									<img src="<%= User.find(n.user_id).user_avatar(90) %>">
								</div>
							</a>
							<span><%= User.find(n.user_id).name %></span>
							<%= link_to "/confirm_friend?id=" + n.id.to_s, :method => :post do %>
								<div class="confirm"></div>
							<% end %>
							<%= link_to "/deny_friend?id=" + n.id.to_s, :method => :post do %>
								<div class="deny"></div>
							<% end %>
						</div>
					<% end %>
				<% end %>
				<% notif_general.each do |n| %>
					<div class="notif general">
						<a href="/u/<%= n.sender_id %>">
							<div id="user-avatar">
								<img src="<%= n.sender.user_avatar(90) %>">
							</div>
						</a>
						<span><%= n.sender.name %> <%= n.message %></span>
					</div>
				<% end %>
			<% else %>
				<div style="text-align:center;">
					<%= image_tag "SegoeUIEmoji-People.png" %>
					<span style="font-size: 18px; padding-bottom: 10px;">You have no friend requests right now.</span><br/>
					<span style="font-size: 14px; padding-bottom: 10px;">Looking for someone? &nbsp; 
					<a href="/find_friends" style="font-size: 14px; padding-bottom: 10px; color:Orange;">You can find them here.</a> </span>
				</div>
			<% end %>
			
		</div>		
	<% end %>
	<div id="user-name-panel" class="carpe-color">
	<% if current_user %>
		<div id="user-avatar">
			<img src="<%= current_user.user_avatar(90) %>">
		</div>
		<% if current_user.name and !current_user.name.empty? %><%= current_user.name %><% else %><%= current_user.email %><% end %>
		<br>
		<div id="user-email"><%= current_user.email %></div>
			</div>
		<% if current_user.admin %>
		<div id="user-panel">
		<% else %>
		<div id="user-panel" style="height:110px">
		<% end %>
			<%= link_to "/u/" + current_user.id.to_s do %><div>View Profile</div><% end %>
			<%= link_to edit_user_registration_path do %><div>Edit Profile</div><% end %>
			<% if current_user.admin %>
			<%= link_to "/admin" do %><div>Admin Panel</div><% end %>
			<% end %>
			<%= link_to destroy_user_session_path,:method => :delete do %><div>Sign out</div><% end %>
		</div>
	<% else %>
		<span class="header-logintext">
		<%= link_to "Sign up", new_user_registration_path %> or
		<%= link_to "Sign in", new_user_session_path %> <!-- | --> 
		<%#= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
		</span>
		</div>
	<% end %>
</div>