<%= stylesheet_link_tag "header" %>

<div class="header-main">
	<div id="menu-holder">
		<div id="header-mob-menu"><%= image_tag "menu.svg", :width => "35" %></div>
		<div id="mobile-menu">
			<!-- Mobile Menu Navigation -->
			<div><a href="/">Home</a></div>
			<% if current_user %>
				<div><a href="/schedule">My Schedule</a></div>
			<% end %>
			<div><a href="/about">About</a></div>
			<div><a href="/status">Status</a></div>
			<div>
				<a href="http://carpe-dev.tumblr.com/" target="_blank">
					Blog
					<!--
					<div class="new-tab-icon"></div>
					<%= image_tag "new-tab-orange.svg", id: "new-tab-preload" %>
					-->
				</a>
			</div>
		</div>
		<span class="carpe-font" id="header-logo">
			<a href="/"><%= image_tag "toplogo.png", :class => "carpeheader" %></a>
		</span>
	</div>
	<span class="header-text">

		<!-- Desktop Menu Navigation -->
		<a href="/" class="<%= current_page?('/') ? 'active' : ''%>">Home</a>
		<% if current_user %>
			<a href="/schedule" class="<%= current_page?('/schedule') ? 'active' : ''%>">My Schedule</a>
		<% end %>
		<a href="/about" class="<%= current_page?('/about') ? 'active' : ''%>">About</a>
		<a href="/status" class="<%= current_page?('/status') ? 'active' : ''%>">Status</a>
		<a href="http://carpe-dev.tumblr.com/" target="_blank">
			Blog
			<div class="new-tab-icon"></div>
			<%= image_tag "new-tab-orange.svg", id: "new-tab-preload" %>
		</a>
		<% if current_user %>
			<br class="tablet-br">
			<%= form_tag("/search_users", method: "get", id: "users-search") do %>
			  <%= text_field_tag(:q, nil, placeholder: "Search people", autocomplete: "off") %>
			<% end %>
		<% end %>
	</span>

	<% if current_user %>
		<div id="user-name-panel" class="carpe-color">
			<div class="bell-hold">
				<% if current_user.notifications.count > 0 %>
					<div id="num"><%= current_user.notifications.count %></div>
				<% end %>
				<%= image_tag "bellg.svg", class: "bell" %>
			</div>
			<div id="user-menu-toggler">
				<div id="user-avatar" class="avatar">
					<img src="<%= current_user.user_avatar(90) %>">
				</div>
				<span class="name"><%= current_user.name.split(" ")[0] %></span>
			</div>
		</div>
	<% else %>
		<div id="user-name-panel" class="carpe-color">
			<span class="header-logintext">
				<%= link_to "Sign in", new_user_session_path %> or
				<%= link_to "Sign up", new_user_registration_path(:refer => "hdr") %>
			</span>
		</div>
	<% end %>
</div>

<% if current_user %>
	<div id="user-panel" class="menu">
		<%= link_to user_path(current_user) do %><div>View Profile</div><% end %>
		<%= link_to edit_user_registration_path do %><div>Edit Profile</div><% end %>
		<% if current_user.admin %>
			<%= link_to admin_panel_url do %><div>Admin Panel</div><% end %>
		<% end %>
		<%= link_to destroy_user_session_path, :method => :delete do %><div>Sign out</div><% end %>
	</div>

	<div id="notif-panel" class="menu">
      <div id="no-notifs" <%= raw 'style="display: none"' unless current_user.notifications.empty? %>>
        You don't have any notifications right now.
      </div>

    <%= render current_user.notifications %>
	</div>
<% end %>