<%= stylesheet_link_tag "header" %>

<div class="header-main">
	<div id="menu-holder">
		<div id="header-mob-menu"><%= image_tag "menu.svg", :width => "35" %></div>
		<div id="mobile-menu">
			<div><a href="/">Home</a></div>
			<% if current_user %>
				<div><a href="/schedule">My Schedule</a></div>
			<% end %>
		</div>
		<span class="carpe-font" id="header-logo">
			<a href="/"><%= image_tag "toplogo.png", :class => "carpeheader" %></a>
		</span>
	</div>
	<span class="header-text">
		<a href="/" class="<%= current_page?('/') ? 'active' : ''%>">Home</a>
		<% if current_user %>
			<a href="/schedule" class="<%= current_page?('/schedule') ? 'active' : ''%>">My Schedule</a>
		<% end %>
		<a href="/about" class="<%= current_page?('/about') ? 'active' : ''%>">About</a>
		<a href="/status" class="<%= current_page?('/status') ? 'active' : ''%>">Status</a>
		<a href="http://carpe-dev.tumblr.com/" target="_blank">
			Blog
			<div class="new-tab-icon"></div>
			<%= image_tag "new-tab-orange.svg", id: "new-tab-preload" %>
		</a>
		<% if current_user %>
			<%= form_tag("/search_users", method: "get", id: "users-search") do %>
			  <%= text_field_tag(:q, nil, placeholder: "Search people", autocomplete: "off") %>
			<% end %>
		<% end %>
	</span>
	<% if current_user %>
		<div class="bell-hold">
			<% @follow_requests = current_user.passive_relationships.where(:confirmed => nil) %>
			<% @notif_general = current_user.notifications.where(:viewed => false) %>
			<% @notif_count = @notif_general.size + @follow_requests.size %>
			<% if @notif_count > 0 %>
				<div id="num"><%= @notif_count %></div>
			<% end %>
			<%= image_tag "bellg.svg", class: "bell" %>
		</div>
		<div id="notif-panel">
			<% if @follow_requests.size > 0 %>
				Follow Requests
				<% @follow_requests.each do |n| %>
					<div class="notif" fid="<%= n.id %>">
						<%= link_to(n.follower) do %>
							<div id="user-avatar">
								<img src="<%= n.follower.user_avatar(90) %>">
							</div>
						<% end %>
						<span><%= n.follower.name %></span>
						<%= link_to relationship_path(n, "relationship[confirmed]" => true), :method => :put, :remote => true do %>
							<div class="confirm"></div>
						<% end %>
						<%= link_to relationship_path(n, "relationship[confirmed]" => false), :method => :put, :remote => true do %>
							<div class="deny"></div>
						<% end %>
					</div>
				<% end %>
			<% else %>
				<span style="font-size: 16px; padding-bottom: 5px;">You don't have any notifications right now.</span>
			<% end %>
			<% @notif_general.each do |n| %>
				<div class="notif general">
					<%= link_to(n.sender) do %>
						<div id="user-avatar">
							<img src="<%= n.sender.user_avatar(90) %>">
						</div>
					<% end %>
					<div><%= n.sender.name %> <%= n.message %></div>
				</div>
			<% end %>
		</div>
	<% end %>
	<% if current_user %>
		<div id="user-name-panel" class="carpe-color">
			<div id="user-avatar" class="avatar">
				<img src="<%= current_user.user_avatar(90) %>">
			</div>
			<%= current_user.name %>
			<br>
			<div id="user-email"><%= current_user.email %></div>
		</div>
	<% else %>
		<div id="user-name-panel" class="carpe-color">
			<span class="header-logintext">
				<%= link_to "Sign in", new_user_session_path %> or
				<%= link_to "Sign up", new_user_registration_path %>
			</span>
		</div>
	<% end %>
</div>

<% if current_user %>
	<div id="user-panel" class="menu">
		<%= link_to user_path(current_user) do %><div>View Profile</div><% end %>
		<%= link_to edit_user_registration_path do %><div>Edit Profile</div><% end %>
		<% if current_user.admin %>
			<%= link_to admin_panel_url do %><div>Admin Panel</div><% end %>
		<% end %>
		<%= link_to destroy_user_session_path, :method => :delete do %><div>Sign out</div><% end %>
	</div>
<% end %>