<%= stylesheet_link_tag "jquery-ui.min" %>
<%= stylesheet_link_tag "schedule" %>
<%= javascript_include_tag "scheduler" %>
<% if @read_only %>
<style>
.sch-cat-icon, .sch-evnt-icon
{
	display: none !important;
}
.sch-evnt, .evnt-title
{
	cursor: default !important;
}
.cat-add
{
	display: none;
}
</style>
<% end %>


<div class="ui-widget-overlay" onclick="hideOverlay();"></div>
<div class="overlay-box">
	<div class="overlay-time">
		<input id="time-start" type="text" value="10:00am"></input> -
		<input id="time-end" type="text" value="12:00pm"></input>
	</div>
	<!-- <div class="overlay-time">10:00am - 12:00pm</div> -->
	<div class="overlay-title">Event Title</div>
	<span id="close" class="default red" onclick="hideOverlay()">X</span>
	<span id="repeat" class="default green" onclick="$('#repeat-menu').toggle();">Edit Repeat Type</span>
	<div id="repeat-menu">
		<span id="repeat-daily" class="default repeat-option">Daily</span>
		<span id="repeat-weekly" class="default repeat-option">Weekly</span>
		<span id="repeat-monthly" class="default repeat-option">Monthly</span>
		<span id="repeat-yearly" class="default repeat-option">Yearly</span>
	</div>
	<div class="small-title">
		Description:
		<span id="edit-desc" class="edit">Edit</span>
	</div>
	<div id="overlay-desc" contenteditable="true">Description goes here</div>
	<div class="small-title">
		Location:
		<span id="edit-loc" class="edit" onclick="$('#overlay-loc').focus()">Edit</span>
	</div>
	<div id="overlay-loc" contenteditable="true">Location goes here</div>
</div>

<div class="cat-overlay-box" data-id="" >
	<div class="catTopOverlay">
		<span class="catOverlayTitle" contenteditable=true ></span>
		<%= image_tag "checkmark-wht.png", :class => "sch-cat-icon no-drag", :onclick => "saveCategory(event, this, $('.cat-overlay-box').attr('data-id'));" %>

	</div>
	<div class="catRemainderOverlay">
		<div id="cat-privacy">
			Privacy:
			<span id="public" class="default">Public</span>
			<span id="friends" class="default">Friends</span>
			<span id="private" class="default">Private</span>
		</div>
		<div class="futureColors">
			<div class="color-swatch" style="background-color: #FF2626;" onclick="changeCategoryColor(this)"></div> <!-- red -->
			<div class="color-swatch" style="background-color: #FA6300;" onclick="changeCategoryColor(this)"></div> <!-- orange -->
			<div class="color-swatch" style="background-color: #FFB400;" onclick="changeCategoryColor(this)"></div> <!-- yellow orange -->
			<div class="color-swatch" style="background-color: #3EA73E;" onclick="changeCategoryColor(this)"></div> <!-- green -->
			<br>
			<div class="color-swatch" style="background-color: #4285F5;" onclick="changeCategoryColor(this)"></div> <!-- light blue -->
			<div class="color-swatch" style="background-color:#7D14E6;" onclick="changeCategoryColor(this)"></div> <!-- purple -->
			<div class="color-swatch" style="background-color: #FF79FF;" onclick="changeCategoryColor(this)"></div> <!-- pink -->
			<div class="color-swatch" style="background-color:silver;" onclick="changeCategoryColor(this)"></div>
		</div>
	</div>
</div>

<div id="cont-hold">
	<% if !@read_only %>
		<h1 class="no-bold zero-bot zero-top">My Schedule</h1>
		<br>
	<% end %>

	<div id="sch-sidebar">
		<span id="sidebar-title" title="Drag a category onto the schedule to create a schedule item." onclick="createCategory();">Categories</span>
		<div id="side-desc">Drag a category onto the schedule to create a schedule item.</div>
		<div id="sch-tiles">
			<div id="sch-tiles-inside">
				<div id="cat-template" class="sch-evnt category" time="0:00" style="display: none">
					<div class="evnt-time top">7:00</div>
					<div class="evnt-time bot">7:00</div>
					<div class="evnt-numID">0</div>
					<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="editEvent(event, this);"></div>
					<div class="evnt-desc dis-sel"></div>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-editCat sch-cat-icon no-drag", :onclick => "" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-delCat sch-cat-icon no-drag", :onclick => "" %>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "showOverlay($(this).parent());" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
					<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
				</div>
				<% @user.categories.each_with_index do |cat, index| %>
					<% if @user == current_user or cat.has_access(current_user) %>
					<div class="sch-evnt category" time="0:00" data-id="<%= cat.id %>" privacy="<%= cat.privacy %>"
						style="background-color:<%= cat.color %>; /*top: <%= 105*index %>*/">
						<div class="evnt-time top">7:00</div>
						<div class="evnt-time bot">7:00</div>
						<div class="evnt-numID">0</div>
						<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="editEvent(event, this);"><%= cat.name %></div>
						<div class="evnt-desc dis-sel"></div>
						<%= image_tag "quill-wht.png", :class => "sch-evnt-editCat sch-cat-icon no-drag", :onclick => "editCategory(event, this, #{cat.id}, \"#{cat.name}\", \"#{cat.color}\");" %>
						<%= image_tag "close-wht.png", :class => "sch-evnt-delCat sch-cat-icon no-drag", :onclick => "deleteCategory(event, this, #{cat.id});" %>
						<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "showOverlay($(this).parent());" %>
						<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
						<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="cat-add" onclick="createCategory();">+ New Category</div>
	</div>

	<%= image_tag "divider-orng.png", :height => "505px", :style => "float: left;" %>

	<div id="sch-main">
		<div class="sch-but-holder">
			<span class="default sch-week-prev" onclick="moveWeek(false)">Previous</span>
			&nbsp;
			<span class="default sch-week-next" onclick="moveWeek(true)">Next</span>
			<input id="week-date" type="text"></input>
			<% if !@read_only %>
				<span class="default green" id="sch-save" onclick="saveEvents()">Save Events
					<%= image_tag "checkmark-wht.png", id: "save-checkmark" %>
				</span>
			<% end %>
		</div>

		<div id="sch-holder">
			<div id="sch-days">
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Monday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Tuesday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Wednesday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Thursday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Friday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Saturday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Sunday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var readOnly = 	<%= @read_only ? true : false %>;
	var eventsLoaded = <%= raw @user.get_events(current_user).to_json %>;
	<% current_user ? id = current_user.id : id = -1 %>
	var userId = <%= id %>;
	<% current_user and current_user.admin ? admn = true : admn = false %>
	var admin = <%= admn %>;
</script>
