<%= stylesheet_link_tag "jquery-ui.min" %>
<%= stylesheet_link_tag "schedule" %>
<%= javascript_include_tag "scheduler" %>
<% if @read_only %>
	<style>
	.sch-cat-icon, .sch-evnt-icon
	{
		display: none !important;
	}
	.sch-evnt, .evnt-title
	{
		cursor: default !important;
	}
	.cat-add
	{
		display: none;
	}
	</style>
<% end %>


<div class="ui-widget-overlay"></div>
<div id="event-overlay-box" class="overlay-box">
	<div id="overlay-color-bar">
		<div id="overlay-title" contenteditable="true">Event Title</div>
		<div id="cat-title"></div>
	</div>
	<div class="overlay-time">
		<input id="time-start" type="text" value="10:00am"></input> -
		<input id="time-end" type="text" value="12:00pm"></input>
	</div>
	<span id="close" class="default red" onclick="hideOverlay()"></span>
	<span id="repeat" class="default green" onclick="$('#repeat-menu').toggle();">Edit Repeat Type</span>
	<div id="repeat-menu">
		<span id="repeat-none" class="default repeat-option">None</span>
		<span id="repeat-daily" class="default repeat-option">Daily</span>
		<span id="repeat-weekly" class="default repeat-option">Weekly</span>
		<span id="repeat-monthly" class="default repeat-option">Monthly</span>
		<span id="repeat-yearly" class="default repeat-option">Yearly</span>
		<span id="repeat-certain-days" class="default repeat-option">Certain Days</span>
		<span id="repeat-custom" class="default repeat-option">Custom</span><br>
		<div id="repeat-custom-options">
			Repeat every: <input class="text-input" id="repeat-custom-number" type="number" min="1" value="1">
			<select id="repeat-custom-unit">
				<option value="days">Days</option>
				<option value="weeks">Weeks</option>
				<option value="months">Months</option>
				<option value="years">Years</option>
			</select>
		</div>
		<div id="repeat-certain-days-options">
			<span class="default" data-day="1">M</span>
			<span class="default" data-day="2">T</span>
			<span class="default" data-day="3">W</span>
			<span class="default" data-day="4">Th</span>
			<span class="default" data-day="5">F</span>
			<span class="default" data-day="6">S</span>
			<span class="default" data-day="0">Su</span>
		</div>
		Repeat From: <input id="repeat-start" class="date-field" type="text"></input>
		To: <input id="repeat-end" class="date-field" type="text"></input>
	</div>
	<span id="add-break-event" class="default green">Add Break</span>
	<div id="desc-title" class="small-title">
		Description:
		<span id="edit-desc" class="edit">Edit</span>
	</div>
	<div id="overlay-desc" contenteditable="true">Description goes here</div>
	<div id="loc-title" class="small-title">
		Location:
		<span id="edit-loc" class="edit" onclick="$('#overlay-loc').focus()">Edit</span>
	</div>
	<div id="overlay-loc" contenteditable="true">Location goes here</div>
</div>

<div id="break-overlay-box" class="overlay-box">
	<h3>Create Break</h3>
	Name: <input id="break-name" type="text">
	<br><br>
	Start: <input id="break-start" class="date-field" type="text">
	End: <input id="break-end" class="date-field" type="text">
	<br><br>
	<span id="submit-break" class="default green">Submit</span>
</div>

<div id="break-adder-overlay-box" class="overlay-box">
	<span id="close" class="default red" onclick="hideBreakAddOverlay()"></span>
	<h3>Add Break</h3>
	<div id="break-cont">
	</div>
</div>

<div id="cat-overlay-box" class="overlay-box" data-id="" >
	<div class="cat-top-overlay">
		<span class="cat-overlay-title" contenteditable=true ></span>
		<%= image_tag "checkmark-wht.png", :class => "sch-cat-icon no-drag", :onclick => "saveCategory(event, this, $('#cat-overlay-box').attr('data-id'));" %>

	</div>
	<div class="cat-remainder-overlay">
		<div id="cat-privacy">
			Privacy:
			<span id="public" class="default">Public</span>
			<span id="friends" class="default">Friends</span>
			<span id="private" class="default">Private</span>
		</div>
		<span id="add-break-category" class="default green">Add Break</span>
		<div class="future-colors">
			<div class="color-swatch" style="background-color: #FF2626;"></div> <!-- red -->
			<div class="color-swatch" style="background-color: #FA6300;"></div> <!-- orange -->
			<div class="color-swatch" style="background-color: #FFB400;"></div> <!-- yellow orange -->
			<div class="color-swatch" style="background-color: #3EA73E;"></div> <!-- green -->
			<br>
			<div class="color-swatch" style="background-color: #4285F5;"></div> <!-- light blue -->
			<div class="color-swatch" style="background-color:#7D14E6;"></div> <!-- purple -->
			<div class="color-swatch" style="background-color: #FF79FF;"></div> <!-- pink -->
			<div class="color-swatch" style="background-color:silver;"></div>
		</div>
	</div>
</div>

<div id="cont-hold" class="<%= @holderClass %>">
	<% unless @read_only or params[:iframe] #don't show title in an iframe or if we are in read only mode %>
		<h1 class="no-bold zero-bot zero-top">
			My Schedule
			<span id="embed-button" class="default orange">Embed</span>
		</h1>
		<br>
	<% end %>

	<div id="sch-sidebar">
		<span id="sidebar-title" title="Drag a category onto the schedule to create a schedule item.">Categories</span>
		<% unless @read_only #don't show this text if you can't actually edit things %>
			<div id="side-desc">Drag a category onto the schedule to create a schedule item.</div>
		<% end %>
		<div id="sch-tiles">
			<div id="sch-tiles-inside">
				<div id="cat-template" class="sch-evnt category" data-id="-1" time="0:00" style="display: none">
					<div class="evnt-time top">7:00</div>
					<div class="evnt-time bot">7:00</div>
					<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="editEventTitle(event, this);"></div>
					<div class="evnt-desc dis-sel"></div>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-edit-cat sch-cat-icon no-drag", :onclick => "" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-del-cat sch-cat-icon no-drag", :onclick => "" %>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "editEvent($(this).parent());" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
					<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
				</div>
				<% @user.categories.each_with_index do |cat, index| %>
					<% if cat.has_access?(current_user) %>
					<div class="sch-evnt category" time="0:00" data-id="<%= cat.id %>" privacy="<%= cat.privacy %>"
						style="background-color:<%= cat.color %>; /*top: <%= 105*index %>*/">
						<div class="evnt-time top">7:00</div>
						<div class="evnt-time bot">7:00</div>
						<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="editEventTitle(event, this);"><%= cat.name %></div>
						<div class="evnt-desc dis-sel"></div>
						<%= image_tag "quill-wht.png", :class => "sch-evnt-edit-cat sch-cat-icon no-drag", :onclick => "editCategory(event, this, #{cat.id}, \"#{cat.name}\", \"#{cat.color}\");" %>
						<%= image_tag "close-wht.png", :class => "sch-evnt-del-cat sch-cat-icon no-drag", :onclick => "deleteCategory(event, this, #{cat.id});" %>
						<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "editEvent($(this).parent());" %>
						<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
						<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="cat-add" onclick="createCategory();">+ New Category</div>
	</div>

	<%= image_tag "divider-orng.png", :height => "505px", :style => "float: left;" %>

	<div id="sch-main">
		<div class="sch-but-holder">
			<span class="default sch-week-prev">Previous</span>
			&nbsp;
			<span class="default sch-week-next">Next</span>
			<input id="week-date" class="date-field" type="text"></input>
			<% if !@read_only %>
				<span class="default green disabled" id="sch-save" onclick="saveEvents()">Save Events
					<%= image_tag "checkmark-wht.png", id: "save-checkmark" %>
				</span>
				<span class="default green" id="create-break">Create Break</span>
			<% end %>
		</div>

		<div id="sch-holder">
			<div id="sch-days">
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Monday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Tuesday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Wednesday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Thursday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Friday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Saturday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
				<div class="sch-day-col">
					<span class="col-titler"><span class="evnt-day">Sunday</span></span>
					<div class="col-snap evt-snap"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//User based variable
	var readOnly = <%= @read_only ? true : false %>;
	<% current_user ? id = current_user.id : id = -1 #get the current_user's id %>
	<% #Probably unsafe. TODO - Remove dependance on userId variable %>
	var userId = <%= id %>;
	<% current_user and current_user.admin ? admn = true : admn = false #print whether the user is an admin. %>
	<% #This is probably super unsafe, because this variable is globally scoped and could be modified %>
	<% #TODO: Remove any usage of this variable %>
	var admin = <%= admn ? true : false %>;

	//Data variables
	<% events = @user.get_events(current_user) %>
	<% eventsOut = [] %>
	<% events.each do |event| %>
		<% atr = event.attributes %>
		<% atr[:break_ids] = event.repeat_exception_ids #.repeat_exceptions.pluck(:id) %>
		<% eventsOut.push(atr) %>
	<% end %>

	<% categories = @user.categories %>
	<% catsOut = [] %>
	<% categories.each do |category| %>
		<% atr = category.attributes %>
		<% atr[:break_ids] = category.repeat_exception_ids %>
		<% catsOut.push(atr) %>
	<% end %>

	// TODO: rename these to not sound like booleans 
	// (i.e., should be nouns, not ending in past-tense
	//  verbs like these currently are)
	var eventsLoaded = <%= raw eventsOut.to_json %>;
	var categoriesLoaded = <%= raw catsOut.to_json %>;
	var breaksLoaded = <%= raw @user.repeat_exceptions.to_json %>;
</script>
