<%= stylesheet_link_tag "jquery-ui.min" %>
<%= stylesheet_link_tag "schedule" %>
<%= javascript_include_tag "scheduler" %>
<% if @read_only %>
<style>
.sch-cat-icon, .sch-evnt-icon
{
	display: none !important;
}
.sch-evnt
{
	cursor: default !important;
}
.cat-add
{
	display: none;
}
</style>
<% end %>


<div class="ui-widget-overlay" onclick="hideOverlay();"></div>
<div class="overlay-box">
	<div class="overlay-time">10:00am - 12:00pm</div>
	<div class="overlay-title">CS 331</div>
	<span id="repeat" class="default green" onclick="$('#repeat-menu').toggle();">Edit Repeat Type</span>
	<div class="overlay-desc">Look at this young description of a CS 331 event that we are talking about in this place</div>
	<div id="repeat-menu">
		<span id="repeat-daily" class="default repeat-option">Daily</span>
		<span id="repeat-weekly" class="default repeat-option">Weekly</span>
		<span id="repeat-monthly" class="default repeat-option">Monthly</span>
		<span id="repeat-yearly" class="default repeat-option">Yearly</span>
	</div>
</div>

<div class="cat-overlay-box" data-id="" >
	<div class="catTopOverlay">
		<span class="catOverlayTitle" contenteditable=true ></span>		
		<%= image_tag "checkmark-wht.png", :class => "sch-cat-icon no-drag", :onclick => "saveCategory(event, this, $('.cat-overlay-box').attr('data-id'));" %>
		
	</div>
	<div class="catRemainderOverlay">
		<div class="futureColors"></div>
	</div>
</div>

<br>
<div id="cont-hold">
	<% if !@read_only %>
		<h1 class="no-bold zero-bot">Your Schedule</h1>
		<h3 class="no-bold zero-top">It all starts here. The scheduling revolution</h3>
		<br>
	<% end %>
	
	<div class="sch-but-holder">
		<span class="default sch-week-prev" onclick="addDates(new Date(refDate.getYear()+1900,refDate.getMonth(),refDate.getDate()-7), true)">Previous</span> 
		&nbsp; 
		<span class="default sch-week-next" onclick="addDates(new Date(refDate.getYear()+1900,refDate.getMonth(),refDate.getDate()+7), true)">Next</span> 
		
		<% if !@read_only %>	
			<span class="default green" id="sch-save" onclick="saveEvents()">Save</span>
		<% end %>
	</div>
	
	<div id="sch-sidebar">
		<span id="sidebar-title" title="Drag a category onto the schedule to create a schedule item." onclick="createCategory();">Categories</span>
			
		<div id="sch-tiles">
			<div id="sch-tiles-inside">
				<div id="cat-template" class="sch-evnt category" style="display: none" onclick="showOverlay($(this))">
					<div class="evnt-time">7:30</div>
					<div class="evnt-numID">0</div>
					<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="showOverlay($(this).parent())"></div>
					<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())"></div>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-editCat sch-cat-icon no-drag", :onclick => "" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-delCat sch-cat-icon no-drag", :onclick => "" %>
					<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "editEvent(event, this);" %>
					<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
					<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
				</div>
				<% @user.categories.each_with_index do |cat, index| %>
					<div class="sch-evnt category" data-id="<%= cat.id %>" style="background-color:<%= cat.color %>; top: <%= 105*index %>px;" onclick="showOverlay($(this))">
						<div class="evnt-time">7:30</div>
						<div class="evnt-numID">0</div>
						<div class="evnt-title center-text dis-sel" contenteditable="false" onclick="showOverlay($(this).parent())"><%= cat.name %></div>
						<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())"></div>
						<%= image_tag "quill-wht.png", :class => "sch-evnt-editCat sch-cat-icon no-drag", :onclick => "editCategory(event, this, #{cat.id}, \"#{cat.name}\", \"#{cat.color}\");" %>
						<%= image_tag "close-wht.png", :class => "sch-evnt-delCat sch-cat-icon no-drag", :onclick => "delCategory(event, this, #{cat.id});" %>
						<%= image_tag "quill-wht.png", :class => "sch-evnt-edit sch-evnt-icon no-drag", :onclick => "editEvent(event, this);" %>
						<%= image_tag "close-wht.png", :class => "sch-evnt-close sch-evnt-icon no-drag", :onclick => "removeEvent(event, this);" %>
						<%= image_tag "divider-wht2.png", :class => "evnt-divider no-drag" %>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="cat-add" onclick="createCategory();">+ New Category</div>
	</div>
	
	<%= image_tag "divider-orng.png", :height => "505px", :style => "float: left;" %>
	
	<div id="sch-main">
		<div id="sch-days">
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Monday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Tuesday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Wednesday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Thursday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Friday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Saturday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-day">Sunday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
		</div>
	</div>
</div>

<script>
	<% if @read_only %>
		var readOnly = true;
	<% else %>
		var readOnly = false;
	<% end %>
	var eventsLoaded = <%= raw @user.events.to_json %>;
	var userId = <%= current_user.id %>;
</script>
