<div class="user-box">
	<div class="avatar">
		<%= link_to(user) do %>
			<img src="<%= user.user_avatar(100) %>">
		<% end %>
	</div>

	<div class="name">
		<%= user.name %>
	</div>

	<% if @admin_tiles %>
		<!-- Show promotion and demotion admin buttons -->
		<div class="promotion">
			<% if user.admin and user != current_user %>
				<%= link_to_block "Demote", "/promote?id=" + user.id.to_s + "&de=true", :class => "default red", :remote => true, "uid" => user.id.to_s %>
			<% elsif user != current_user %>
				<%= link_to_block "Promote", "/promote?id=" + user.id.to_s, :class => "default", :remote => true, "uid" => user.id.to_s %>
			<% end %>
		</div>
		<%= link_to_block "Delete", admin_destroy_user_path(user), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "default red" %>
		<%= link_to_block "Info", admin_user_info_path(user), :class => "default green" %>
	<% else %>
    <% if current_user.present? %>
      <%= render "/users/follow_button", user: user %>
    <% end %>
	<% end %>

	<% if @group and !@group.users.include? user %>
		<!-- Show adding and removing from group -->
		<a href="?uid=<%= user.id %>" class="default">
			<span>Add</span>
		</a>
	<% elsif @group %>
		<a href="?uid=<%= user.id %>&del=t" class="default red">
			<span>Remove</span>
		</a>
	<% end %>
</div>
