
<% if @home %>
<div class="friend-listing <%= @profile ? "profile" : "" %>" style="margin:5px">
<% else %>
<div class="friend-listing <%= @profile ? "profile" : "" %>">
<% end %>
	<a href="/u/<%= user.id %>">

		<div class="avatar">
			<% if @home %>
				<img src="<%= user.user_avatar(60) %>" style="width:60px;height:60px;">
			<% else %>
				<img src="<%= user.user_avatar(100) %>">
			<% end %>
		</div>
	</a>

	<div class="friend-details">

		<span class="friend-name"><%= user.name %></span><br>
		<% if @profile%>
			<%= user.friends_count %> Friends <br>
			Friends since: <%= friendship.created_at.strftime("%b. %d, %Y")%> <br>
			<%= link_to friendships_path(:id => friendship.id), :method => :delete, :remote => true, :class => "default red friend-remove", "fid" => friendship.id,
				:style => "position: relative; top: 5px;" do %>
				<span>Remove</span>
			<% end %>
		<% elsif current_user and current_user != user %>
			<% if !@home %>
				<% mut = current_user.mutual_friends(user).count %>
				<span id="mutual-friends"><%= mut %> mutual friends</span>
				<br>
				<%= render "/users/friend_button", user: user %>
			<% else %>
				<% @events = user.events_in_range(DateTime.now.beginning_of_day, DateTime.now.end_of_day) %>
				<% @events.each do |e| %>
					<% if e.current? %>
						<% if free %>
							<% if e.category.has_access(current_user) %>
								<a class="simple" href="/u/<%= user.id %>?p=schedule"><%= e.name %></a> till <%= relative_time_ago(e.end_date, false) %>
							<% else %>
								Busy
							<% end %>
							<% free = false %>
						<% else %>
							, <a class="simple" href="/u/<%= user.id %>?p=schedule"><%= e.name %></a>
						<% end %>
					<% end %>
				<% end %>
				<%= free ? "Currently free" : "" %>
			<% end %>
		<% end %>
	</div>
</div>