<div class="user-box">
	<div class="avatar">
		<%= link_to(user) do %>
			<img src="<%= user.user_avatar(100) %>">
		<% end %>
	</div>

	<div class="name">
		<%= user.name %><br>
		<% mut = current_user.mutual_friends(user).count %>
		<%= mut %> mutual
	</div>

	<% if user == current_user %>
		<span class="friend-label">You</span>
	<% elsif status == nil #not friends %>
		<%= link_to friendships_path(:friend_id => user), :method => :post, :class => "default green" do %>
			<span>Add Friend</span>
		<% end %>
	<% elsif status == "friend" %>
		<span class="friend-label">Friend</span>
	<% elsif status == "pending" || status == "denied" %>
		<span class="friend-label">Pending...</span>
	<% end %>

	<% if @show_promote %>
		<!-- Show promotion and demotion admin buttons -->
		<% if user.admin and user != current_user %>
			<a href="/promote?id=<%= user.id %>&de=true" class="default red">
				<span>Demote</span>
			</a>
		<% elsif user != current_user %>
			<a href="/promote?id=<%= user.id %>" class="default">
				<span>Promote</span>
			</a>
		<% end %>
	<% end %>

	<% if @group and !@group.users.include? user %>
		<!-- Show adding and removing from group -->
		<a href="?uid=<%= user.id %>" class="default">
			<span>Add</span>
		</a>
	<% elsif @group %>
		<a href="?uid=<%= user.id %>&del=t" class="default red">
			<span>Remove</span>
		</a>
	<% end %>
</div>