
<% if @home %>
<div class="friend-listing <%= @profile ? "profile" : "" %>" style="margin:5px">
<% else %>
<div class="friend-listing <%= @profile ? "profile" : "" %>">
<% end %>
	<%= link_to(user) do %>
		<div class="avatar">
			<% if @home %>
				<img src="<%= user.user_avatar(60) %>" style="width:60px;height:60px;">
			<% else %>
				<img src="<%= user.user_avatar(100) %>">
			<% end %>
		</div>
	<% end %>

	<div class="friend-details">

		<span class="friend-name"><%= user.name %></span><br>
		<% if @profile%>
			<%= user.friends_count %> Friends <br>
			Friends since: <%= friendship.created_at.strftime("%b. %d, %Y")%> <br>
			<%= link_to friendships_path(:id => friendship.id), :method => :delete, :remote => true, :class => "default red friend-remove", "fid" => friendship.id,
				:style => "position: relative; top: 5px;" do %>
				<span>Remove</span>
			<% end %>
		<% elsif current_user and current_user != user %>
			<% if !@home %>
				<% mut = current_user.mutual_friends(user).count %>
				<span id="mutual-friends"><%= mut %> mutual friends</span>
				<br>
				<%= render "/users/friend_button", user: user %>
			<% else %>
				<% if user.is_busy? %>
					<div class="red circle"></div>
					<% if user.current_events[0].category.has_access(current_user) %>
						<a class="simple" href="/u/<%= user.id %>?p=schedule"><%= user.current_events[0].name %></a>
					<% else %>
						Busy
					<% end %>
					until <%= relative_time_ago user.current_events[0].end_date %>
				<% else %>
					<div class="green circle"></div>
					<% if user.next_event %>
						Free until <%= relative_time_ago(user.next_event.date) %>
					<% else %>
						Free the rest of the day
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>