<div class="user-box">
	<div class="avatar">
		<%= link_to(user) do %>
			<img src="<%= user.user_avatar(100) %>">
		<% end %>
	</div>

	<div class="name">
		<%= user.name %><br>
		<% mut = current_user.mutual_friends(user).count %>
		<%= mut %> mutual
	</div>

	<%= render "/users/follow_button", user: user %>

	<% if @show_promote %>
		<!-- Show promotion and demotion admin buttons -->
		<div class="promotion">
			<% if user.admin and user != current_user %>
				<%= link_to "/promote?id=" + user.id.to_s + "&de=true", :class => "default red", :remote => true, "uid" => user.id.to_s do %>
					<span>Demote</span>
				<% end %>
			<% elsif user != current_user %>
				<%= link_to "/promote?id=" + user.id.to_s, :class => "default", :remote => true, "uid" => user.id.to_s do %>
					<span>Promote</span>
				<% end %>
			<% end %>
		</div>
		<%= link_to admin_destroy_user_path(user), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "default red" do %>
			<span>Delete</span>
		<% end %>
	<% end %>

	<% if @group and !@group.users.include? user %>
		<!-- Show adding and removing from group -->
		<a href="?uid=<%= user.id %>" class="default">
			<span>Add</span>
		</a>
	<% elsif @group %>
		<a href="?uid=<%= user.id %>&del=t" class="default red">
			<span>Remove</span>
		</a>
	<% end %>
</div>