<% content_for :title do %> - Home<% end %>
<%= stylesheet_link_tag "activity" %>
<%= stylesheet_link_tag "profile" %>

<div id="greeting">
	<span class="greet-text">
		Greetings, <%= current_user.name.split(" ")[0] %>!
		<span class="current-time">
			Updated <%= local_time(Time.now, "%l:%M %p") %>
		</span>
		<div class="greet-subt">
			Check out the new sidebar, a quick way to know if your connections are free or not.<br>
			To keep up with Carpe updates, check out <a href="http://carpe-dev.tumblr.com" target="_blank" class="greet-a">our development blog!</a>
			<% if @upcoming_events and @upcoming_events.length > 0 %>
			<h3 class="zero-bot">Current Events</h3>
			<% printed = 0 %>
			<% @upcoming_events.each do |event| %>
			<% next if event.end_date.past? #skip events that have ended %>
			<% break if printed >= 10 #stop if we've already printed 10 upcoming events %>
			<% printed += 1 %>
			<div class="home-event-tile <%= "current" if event.current? %>">
				<div class="inner"  style="border-color: <%= event.category.color %>">
					<div class="tile-text">
						<b><%= raw event.get_html_name %></b>
						<% unless event.location.empty? %>
						in <%= event.location %>
						<% end %>
						<br>
						<% if event.current? #print full info about current events %>
						<%= relative_event_time(event) %>
						<% else #and print start for future events %>
						<%= time_string = relative_time_ago(event.date, true) %>
						<% end %>
						<span class="toggle-details">Toggle Details</span>
					</div>
					<div class="details">
						<%= relative_time_ago(event.date, true) %> to <%= relative_time_ago(event.end_date, false) %>. <br>
						<% unless event.description.empty? %>
						Description: <%= event.description %>
						<% end %>
					</div>
					<div class="square" style="color: <%= event.category.color %>"><%= event.category.name %></div>
				</div>
				<% if event.current? %>
				<div class="current-label">Going on Now</div>
				<% end %>
			</div>
			<% end %>
			<% end %>
		</div>
	</span>
	<br>
</div>


<div id="sidebar-button">
	<<
</div>
<div id="sidebar-cont">
	<div id="sidebar">
		<div id="following-list">
			<% unless current_user.following.empty? %>
				<% current_user.following.each do |user| %>
					<%= render "shared/user_box_horizontal", user: user, free: true %>
				<% end %>
			<% else %>
				<h3 class="no-bold">You're not following anyone!</h3>
				To see who is busy and free, follow some users!
			<% end %>
		</div>
	</div>
</div>
