<% content_for :title do %> - Welcome<% end %>
<%= stylesheet_link_tag "home" %>

<div id="home-sl1">
	<div class="title">Scheduling for the modern age.</div>
	<div class="subtitle">Meet Carpe. It's a social, powerful planning tool for the modern world.</div>
	<div class="alphawarn">You can try out Carpe in our open Alpha.</div>
	<%= link_to new_user_registration_path(:refer => "wlcm-tp"), :class => "home-signup-btn", :id => "home-button-wht" do %>
		<div>Sign Up</div>
	<% end %>
</div>

<div id="home-sl2">
	<div id="home-sl2-textcontainer">
		<div class="title">Know what's next.</div>
		<div class="subtitle">Using the Dashboard, you can plan out your week, keep track of events going on right now, and always arrive on time.</div>
	</div>
	<%= image_tag("dash.png", id: "home-sl2-img") %>
</div>

<div id="home-sl3">
	<div id="home-sl3-textcontainer">
		<div class="title">Make the most of the moment.</div>
		<div class="subtitle">On the Sidebar, all the information you need is at your fingertips. Simply glance to the right of the Dashboard and see who's available without a single click.</div>
	</div>
	<%= image_tag("sidebar.png", id: "home-sl3-img") %>
</div>

<div id="home-sl4">
	<div id="home-sl2-textcontainer">
		<div class="title">Don't guess when they're free.</div>
		<div class="subtitle">With Carpe, you can view your contacts' schedules and plan the perfect hangout or meeting. If they choose to, contacts can even add a location to their events, so you know when they're nearby.</div>
	</div>
	<%= image_tag("profile.png", id: "home-sl4-img") %>
</div>

<div id="home-sl5">
	<div class="title" class="zero-top">Ready to start?</div>
	<div class="subtitle">Be one of the first to try Carpe in our free Alpha Preview.</div>

	<%= link_to new_user_registration_path(:refer => "wlcm-bt"), :class => "home-signup-btn", :id => "home-button-wht" do %>
		<div>Get Started</div>
	<% end %>
</div>
