<% content_for :title do %> - Welcome<% end %>
<%= stylesheet_link_tag "activity" %>
<%= stylesheet_link_tag "profile" %>

<% if !current_user %>
	<h1 class="no-bold" style="margin-bottom: -20px;">
		Welcome to <span class="carpe-font" style="font-size: 54px;">Carpe</span>
	</h1>
	<h2 class="no-bold">Scheduling redefined for the modern age</h2>
	<p>Cleaner, simpler, Carpe.</p>
<% elsif current_user %>
	<div id="greeting">
		<span class="greet-text">
			Hello again, <%= current_user.name.split(" ")[0] %>!
			<div class="greet-subt">
				Check out the new sidebar, a quick way to know if your friends are free or not.<br>
				<a href="/schedule" class="greet-a">You can also just go directly to your schedule.</a>
				<% if @upcoming_events and @upcoming_events.length > 0 %>
					<h3 class="zero-bot">Current Events</h3>
					<% printed = 0 %>
					<% @upcoming_events.each do |event| %>
						<% next if event.end_date.past? #skip events that have ended %>
						<% break if printed >= 10 %>
						<% printed += 1 %>
						<div class="home-event-tile <%= "current" if event.current? %>">
							<div class="square" style="background: <%= event.category.color %>"><%= event.category.name %></div>
							<div class="tile-text">
								<% unless event.name.empty? %>
								<b><%= event.name%></b>
								<% else %>
								<i>Untitled</i>
								<% end %>
								<br>
								<% if event.current? #print full info about current events %>
									<%= relative_event_time(event) %>
								<% else #and print start for future events %>
									<%= time_string = relative_time_ago(event.date, true) %>
								<% end %>
							</div>
						</div>
						<br>
					<% end %>
				<% end %>
			</div>
		</span>
		<br>
	</div>


	<div id="sidebar-button">
		<<
	</div>
	<div id="sidebar-cont">
		<div id="sidebar">
			<div id="friend-list">
				<% current_user.all_friendships.each do |arr| %>
					<% friendship = arr[0]; user = arr[1]; free = true %>
					<%= render "shared/user_box_horizontal", user: user, friendship: friendship, free: free %>
				<% end%>
			</div>
		</div>
	</div>
<% end %>
