<% content_for :title do %> - Admin Panel<% end %>
<%= stylesheet_link_tag "pages/admin" %>
<%= javascript_include_tag "admin-panel" %>

<h2 class="no-bold">Admin Panel</h2>

<% if Rails.env.development? %>
	<div class="dev-tools">
		<h2 class="zero-top zero-bot">Developer Tools</h2>
		You're running Carpe in development, so we'll be providing some tools for you.

		<div class="tip">
			Make sure you run <code>npm install</code> in the carpe folder to download dependencies.
			npm can be downloaded from <a href="https://nodejs.org/en/">here</a>.

			<div class="sub-tip">
			Developer documents are not included in the repository, so it's up to you to generate them.
			Tests can run concurrently, and typically take 1 to 30 seconds.
			</div>
		</div>

		<h3 class="no-bold">Javascript Documentation (via JSDoc)</h3>
		<%= link_to_block "Generate", "", id: "run-jsdoc", class: "default can-load" %>
		<%= link_to_block "JSDoc Home", "/jsdoc-out/index.html", target: "_blank", class: "default" %><br>
		JSDocs document the Carpe Javascript and help us ensure we are writing good documentation

		<h3 class="no-bold">Ruby on Rails Unit Tests (via Minitest)</h3>
		<%= link_to_block "Run", "", id: "run-rails-unit-tests", class: "default can-load" %>
		<%= link_to_block "Results", "/html_reports", target: "_blank", class: "default" %>
		<%= link_to_block "Code Coverage", "/coverage/index.html", target: "_blank", class: "default" %><br>
		Serverside tests to make sure the model methods, controllers, and routes are working.

		<h3 class="no-bold">Javascript Unit Tests (via Teaspoon)</h3>
		<%= link_to_block "Run", "", id: "run-js-unit-tests", class: "default can-load" %>
		<%= link_to_block "Results", "/teaspoon/default", target: "_blank", class: "default" %>
		<%= link_to_block "Code Coverage", "/coveragejs/default/index.html", target: "_blank", class: "default" %><br>
		Clientside tests to make sure the scheduler is working.

		<h3 class="no-bold">Javascript Acceptance Tests (via CodeceptJS)</h3>
		<%= link_to_block "Run", "", id: "run-js-acceptance-tests", class: "default can-load" %>
		<%= link_to_block "Results", "/codeceptjs_out/mochawesome.html", target: "_blank", class: "default" %><br>
		A comprehensive set of tests that simulates an actual user navigating Carpe. Note, you must have
		a local instance of Carpe running before starting this test.

		<h3 class="no-bold">Carpe Living Style Guide</h3>
		<%= link_to_block "Living Style Guide", "/assets/styleguide/home.html.lsg", class: "default", target: "_blank" %><br>
		The Carpe living style guide loads in our stylesheets and serves as a repository for the shared styling
		across Carpe. If you are working on a new page or feature, the living style guide is critical to reusing
		our common CSS and adding to that set.
	</div>
<% end %>

<h4>Info</h4>
<a href="/users" class="default"><span>View Users</span></a>
<a href="/sandbox" class="default"><span>Sandbox</span></a>
<br><br>
On Carpe there are: <br>
 <%= Event.count %> events, <%= User.count %> users, and <%= Category.count %> categories. <br>
The average user has: <%= Event.count/User.count %> events and <%= Category.count/User.count %> categories.

<div class="chart-cont">
	<%= line_chart date_chart_fix(@past_month_users, @past, @now), library: {"title":"User Signups in past Month"} %>
	<%= line_chart date_chart_fix(@past_month_events, @past, @now), library: {"title":"Events made in past Month"} %>
	<%= line_chart date_chart_fix(@past_month_events_modified, @past, @now), library: {"title":"Events changed in past Month"} %>
</div>

<h4>Admins</h4>
<% @users = User.where(admin: true) %>
<% @users.each do |user| %>
	<div class="grey-box admin-box">
		<%= link_to(user) do %>
			<div class="avatar" style="float: left">
				<img src="<%= user.user_avatar(100) %>">
			</div>
		<% end %>
		<div class="name"><%= user.name %></div>
	</div>
<% end %>
