<% content_for :title do %> - Admin<% end %>
<%= stylesheet_link_tag "pages/admin" %>

<h2 class="no-bold">Admin Panel</h2>
<h4>Info</h4>
<a href="/users" class="default"><span>View Users</span></a>
<a href="/sandbox" class="default"><span>Sandbox</span></a>
<br><br>
On Carpe there are: <br>
 <%= Event.count %> events, <%= User.count %> users, and <%= Category.count %> categories. <br>
The average user has: <%= Event.count/User.count %> events and <%= Category.count/User.count %> categories.

<div class="chart-cont">
	<%= line_chart date_chart_fix(@past_month_users, @past, @now), library: {"title":"User Signups in past Month"} %>
	<%= line_chart date_chart_fix(@past_month_events, @past, @now), library: {"title":"Events made in past Month"} %>
	<%= line_chart date_chart_fix(@past_month_events_modified, @past, @now), library: {"title":"Events changed in past Month"} %>
</div>

<h4>Admins</h4>
<% @users = User.where(admin: true) %>
<% @users.each do |user| %>
	<div class="grey-box" style="width: 200px; margin-left: auto; margin-right: auto; width: 200px; height: 56px; padding: 5px 10px; border-radius: 5px; margin-bottom: 10px;">
		<%= link_to(user) do %>
			<div class="avatar" style="float: left">
				<img style="width: 50px; height: 50px;" src="<%= user.user_avatar(100) %>">
			</div>
		<% end %>
		<div style="position: relative; top: 15px; margin-left: 60px; font-weight: 600;"><%= user.name %></div>
	</div>
<% end %>
