<%= stylesheet_link_tag "jquery-ui.min" %>

<%
	if current_user
		if params[:new] == "t"
			newCat = Category.new
			newCat.user = current_user #set the user to the logged in user
			newCat.color = params[:col]
			newCat.name = params[:name]
			newCat.save
			controller.redirect_to "/schedule"
		elsif params[:dest] == "t"
			id = params[:id]
			Category.find_by_id(id).destroy
			controller.redirect_to "/schedule"
		elsif params[:edit] == "t"
			id = params[:id]
			name = params[:name]
			col = params[:col]
			findCat = Category.find_by_id(id)
			findCat.name = name
			findCat.color = col
			findCat.save	
			controller.redirect_to "/schedule"
		elsif params[:clearAll] == "t"
			Category.all.each_with_index do |cat, index|
				cat.destroy
			end
			controller.redirect_to "/schedule"
		end	
	else 
		controller.redirect_to user_session_path;
	end
%>

<div class="ui-widget-overlay" onclick="hideOverlay();"></div>
<div class="overlay-box">
	<div class="overlay-time">10:00am - 12:00pm</div>
	<div class="overlay-title">CS 331</div>
	<div class="overlay-desc">Look at this young description of a CS 331 event that we are talking about in this place</div>
</div>

<br /><div id="cont-hold">
	<h1 class="no-bold zero-bot">Your Schedule</h1>
	<h3 class="no-bold zero-top">It all starts here. The scheduling revolution</h3>
	<br />
	
	<div class="sch-but-holder">
		<span class="sch-but sch-week-prev" onclick="addDates(new Date(refDate.getYear()+1900,refDate.getMonth(),refDate.getDate()-7), true)">Previous</span> 
		&nbsp; 
		<span class="sch-but sch-week-next" onclick="addDates(new Date(refDate.getYear()+1900,refDate.getMonth(),refDate.getDate()+7), true)">Next</span> 
			<!-- <text> is not an actual tag, but this allows for direct styling and no excess spacing issues with <div> or <p> -->
	</div>
	
	<div id="sch-sidebar">
		<span id="sidebar-title" title="Drag a category onto the schedule to create a schedule item." onclick="createCategory();">Categories</span>
			
		<div id="sch-tiles">
		<!-- <div class="sch-evnt sch-class">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay($(this).parent())">Class</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())"	>CS 331 with Professor Beckman. Location: E1 218</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		<div class="sch-evnt sch-work">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay($(this).parent())">Work</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())">indigoBox Website Redesign at iit</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		<div class="sch-evnt sch-play">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay($(this).parent())">Play</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())">Oblivion - Play through first three story missions</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		<div class="sch-evnt sch-hangout">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay($(this).parent())">Hangout</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())">Spend time with Robert and Eileen at Bee & Tea</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>	Previous implementation of schedule categories. See below for what we do now.-->
		
		<!-- Actually, what we do know is really influenced a lot by the practice code Viktor supplied Robert.
			You'll definitely be seeing traces (if not entire snippets) in here. -->
			
		<% if current_user
		current_user.categories.each_with_index do |cat, index| %>
			<div class="sch-evnt category" style="background-color:<%= cat.color %>; top: <%= 105*index %>px;">
			<div class="evnt-time">7:30</div>
			<div class="evnt-numID">0</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay($(this).parent())"><%= cat.name %></div>
			<div class="evnt-desc dis-sel" onclick="showOverlay($(this).parent())"></div>
			<%= image_tag "checkmark.png", :class => "sch-evnt-saveCat sch-cat-icon", :onclick => "saveCategory(event, this, #{cat.id});" %>
			<%= image_tag "quill.png", :class => "sch-evnt-editCat sch-cat-icon", :onclick => "editCategory(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-delCat sch-cat-icon", :onclick => "delCategory(event, this, #{cat.id});" %>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
			
			<div class="futureColors" style="position:absolute;padding-top:4px;width:100%;">
			
			</div>
		</div>
		<% end end %>
		
		
		
		</div>
		
		<div class="cat-add" onclick="createCategory();">+ New Category</div>
	</div>
	
	<%= image_tag "divider-orng.png", :height => "505px", :style => "float: left;" %>
	
	<div id="sch-main">
		
		<div id="sch-days">
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Monday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Tuesday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Wednesday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Thursday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Friday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Saturday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler"><span class="evnt-fulldate">Sunday</span></span>
				<div class="col-snap evt-snap"></div>
			</div>
		</div>
	</div>
</div>
<script>
var sideHTML; // Instantiates sideHTML variable
var gridHeight = 25; //the height of the grid of resizing and dragging
var border = 2; //the border at the bottom for height stuff
var ctrlPressed = false;
var schHTML; // Instantiates schedule HTML variable, which will contain the "Mon-Sun" html on the main scheduler div.
var refDate = new Date(); // Reference date for where the calendar is now, so that it can switch between weeks.


var schItemNames = [];
var schItemStart = [];
var schItemDate = [];
var schItemCategory = [];
var schItemColor = [];

var schItem = [];

var curEvent;


$(window).keydown(function(evt) {
  if (evt.which == 17) { // ctrl
    ctrlPressed = true;
  }
}).keyup(function(evt) {
  if (evt.which == 17) { // ctrl
    ctrlPressed = false;
  }
});


$(document).ready(function()
{
	setTitles();
	
	curEvent = 0;
	
	sideHTML = $("#sch-tiles").html(); //the sidebar html for restoration upon drops
	schHTML = $("#sch-days").html(); //The HTML for the scheduler days layout, useful for when days are refreshed
	
	$("#sidebar-title").tooltip({
		position: { my: "left top", at: "left bottom"}	
	}); //toss a tooltip on the events text
	
	
	//Add tooltips, which are also in add drag
	$(".evnt-desc").tooltip({
		position: { my: "left+15 top", at: "left bottom"}
	}); //toss a tooltip on the events text
	
	addDrag(); //add dragging, recursively
	
	colDroppable();
	
	addDates(new Date(), false);
});

function colDroppable()
{
	//make the columns droppable
	$(".col-snap").droppable({
		drop: function( event, ui ) //called when event is dropped on a new column (not called on moving it in the column)
		{
			if(ui.draggable.parent().attr("id") == "sch-tiles")
			{
				var topVal = parseFloat(ui.draggable.css("top"));
				topVal += 16;
				if(topVal < 0) //make sure the event is not halfway off the top
				{
					topVal = 0;
				}
				else if(topVal > $(this).height() - ui.draggable.outerHeight()) //or bottom
				{
					topVal = $(this).height() - ui.draggable.outerHeight();
				}
				//ui.draggable.css("top",topVal);
				console.log("Set top to " + topVal);
			}
			
	    	var element = ui.draggable.detach();
			$(this).append(element);
			ui.draggable.css("left","0px");
			element.css("top","0");
			//ui.draggable.children(".sch-evnt-icon").show();
			ui.draggable.children(".evnt-desc").show();
			$(this).parent().css("background","");
			
			$(ui.draggable).resizable({
		    	handles: 'n, s',
		    	grid: [ 0, gridHeight ],
		    	containment: "parent",
		    	resize: function(event, ui)
		    	{
		    		updateTime($(this), ui, true);
		    	}
			});
		},
		over: function( event, ui ) {
			$(this).parent().css("background","rgb(255, 255, 151)");
			$(ui.draggable).draggable("option","gridOn", true);
		},
		out: function( event, ui ) {
			$(this).parent().css("background","");
			$(ui.draggable).draggable("option","gridOn", false);
		}
	});
}

//the dragging function
function addDrag(selector)
{
	var newSchItem = false;
	var catBefore = "";
	
	if (selector == null)
		selector = "#sch-sidebar .sch-evnt";
		
	$(selector).draggable({
		containment: "window",
		snap: ".evt-snap",
		snapMode: "inner",
		appendTo: "body",
		cancel: "img",
		revert: "invalid",
		revertDuration: 0,
		stack: ".sch-evnt",
		opacity: 0.7,
		stack: "sch-evnt",
		distance: 10,
		gridOn: false,
		scroll: false,
		helper: function()
		{
			$copy = $(this).clone();
			$copy.children(".sch-cat-icon").css('display','none');
			var height = parseFloat($copy.css("height"));
			$copy.css("margin-top","0px");
			
			if((height+2)%gridHeight != 0 && !inColumn($(this)))
			{
				$copy.css("height", (gridHeight*3)-2);
			}
				
			$copy.children(".evnt-time").show();
			
			if(inColumn($(this)))
			{
				$(this).css("opacity", 0);
			}
				
			return $copy;
		},
		start: function(event, ui)
		{
			
			$(this).children(".sch-cat-icon").css('display','none');
			var height = Math.round(parseFloat($(this).css("height")));
			
			if((height+2)%gridHeight != 0)
				$(this).css("height", (gridHeight*3)-2);

			$(this).children(".evnt-time").show();
			
			
			if(ctrlPressed && $(this).parent().attr("id") != "sch-tiles")
			{
				var clone = $(ui.helper).clone();;
				$(this).parent().append(clone);
				clone.removeClass("ui-draggable ui-draggable-handle ui-resizable ui-draggable-dragging");  
				clone.css("opacity","1");
				clone.css("z-index","0")
				clone.children('.ui-resizable-handle').remove();
				
				
				
				addDrag(clone);
				$(clone).resizable({
			    	handles: 'n, s',
			    	grid: [ 0, gridHeight ],
			    	containment: "parent",
			    	resize: function(event, ui)
			    	{
			    		updateTime($(this), ui);
			    	}
				});
				
				pushEventInfo(clone,$(this).attr("id"));
			}
			else if(!ctrlPressed && $(this).parent().attr("id") == "sch-tiles") 
			{
				catBefore = $(this).children(".evnt-title").html();
				console.log($(this).innerHTML);
				$(this).children(".evnt-title").trigger('focus'); 
				document.execCommand('selectAll',false,null); // Suggests to the user to change the schedule item title by making it editable upon drop here.
				document.execCommand('delete',false,null); // Suggests to the user to change the schedule item title by making it editable upon drop here.
				$(this).children(".evnt-title").trigger('focus');
				newSchItem = true;
			}
			
		},
		stop: function(event, ui) 
		{
			//$(ui.draggable).css("background","green");
			$(ui.helper).remove();
			
			$("#sch-tiles").html(sideHTML); //reset the sidebar
			$(this).css("opacity", 1);
			
			$(".evnt-title").on("keydown",function(e){
			    var key = e.keyCode || e.charCode;  // ie||others
			    if(key == 13)  // if enter key is pressed
			    {
					e.preventDefault();
				    $(this).blur();  // lose focus	
			    }
			});
			
			$("#sch-tiles .evnt-desc").tooltip({
				position: { my: "left+15 top", at: "left bottom"}
			}); //toss a tooltip on the events text
			
			if(inColumn($(this)))
			{
				$(this).css('position', 'absolute');
				$(this).css('top', ui.position.top - $(this).parent().offset().top);
				console.log($(this).parent().position().top);
			}
			addDrag();
			$(this).css("margin-top","0px");
			if ($(this).children(".evnt-title").html() == "") {
				
				$(this).children(".evnt-title").trigger('focus'); 
				document.execCommand('selectAll',false,null); // Suggests to the user to change the schedule item title by making it editable upon drop here.
				//document.execCommand('delete',false,null);
				$(this).children(".sch-evnt-save").css("display","inline");
			}
			
			var topVal = parseFloat($(this).css("top"));
			if(topVal < 0) //make sure the event is not halfway off the top
			{
				topVal = 0;
			}
			else if(topVal > $(this).parent().height() - $(this).outerHeight()) //or bottom
			{
				topVal = $(this).parent().height() - $(this).outerHeight();
			}
			$(this).css("top",topVal);
			
			if ($(this).parent().offset()) {
				
				$(this).attr("id",catBefore);
				pushEventInfo(this,catBefore);
				
			}
		},
		drag: function(event, ui)
		{
			updateTime($(this), ui); //IMPORTANT DRAG STUFF VIKTOR KOVES
		}
	});
}

function pushEventInfo(elem, catBefore) {
	
	// For some reason, these two lines are still important for cloned events.
	// It's never great if you have to start your comment with "For some reason"...isn't it?
	curEvnt = curEvent + 1; // Increments current event ID.
	$(elem).children(".evnt-numID").html == curEvnt.toString();
	
	// Start pushing to temporary data...starting with category we get from the passed in catBefore parameter.
	schItemCategory.push(catBefore);
	schItemColor.push($(elem).css("background-color"));
	schItemStart.push($(elem).children(".evnt-time").html());
	schItemNames.push($(elem).children(".evnt-title").html());
	schItemDate.push($(elem).parent().siblings(".col-titler").children(".evnt-fulldate").html().split(',')[0]);
	
	// Whereas the other lines actually split up the data (particularly useful later with POST requests),
	// the following line pushes the entire HTML content of the schedule item.
	// It's actually not too much, so it should not cause much drain here.
	schItem.push(elem);
	
}

function updateTime(elem, ui, resize) //if we're resizing, don't change the position
{
	var timeDiv = $(elem).children(".evnt-time");
	var arr = timeDiv.html().split(":");

	//custom grid stuff using drag
	var offsetDiff = -Math.ceil($(".col-snap:first").offset().top);
	console.log("Offset difference: " + offsetDiff);
	
	var topRemainder = (ui.position.top + offsetDiff) % gridHeight;
	if($(elem).draggable('option', 'gridOn'))
	{
		if(!resize)
			ui.position.top = ui.position.top - topRemainder;
		arr[0] = (ui.position.top + offsetDiff)/gridHeight;
	}

	timeDiv.html(arr.join(":"));	
}

function addDates(referenceDate, refresh)
{
	var currDate = referenceDate;
	var day = currDate.getDay();
	var date = currDate.getDate();
	var month = currDate.getMonth();
	var year = currDate.getFullYear();
	var dayOffset = day - 1;
	var startDate;
	var lastCurrMonth = new Date(year, month + 1, 0);
	var lastPrevMonth = new Date(year, month, 0);
	var lastDateCurr = lastCurrMonth.getDate();
	var lastDatePrev = lastPrevMonth.getDate();
	var lastMonth = false;
	var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
	"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	var todayDate = new Date();
	
	
	refDate = currDate;
	lastReportedDate = date;
	lastReportedMonth = month;
	
	if(refresh)
	{
		$("#sch-days").html(schHTML); // Refresh the layout so that we can properly prepend and append text below here
		colDroppable();
	}
	
	if(day == 0)
		startDate = date - 6;
	else
		startDate = date - dayOffset;
	
	if(startDate <= 0) //if the start is in the last month
	{
		startDate = lastDatePrev + startDate;
		lastMonth = true;
		lastReportedMonth = month - 1;
	}
	
	$(".sch-day-col").each(function(index, col)
	{
		if((startDate == date) && (referenceDate.toDateString() == todayDate.toDateString())) //if this is the same day of week, and is the correct week (is it today?)
		{
			$(col).attr("id","sch-col-today");	
		}
		if(startDate <= lastDateCurr+1)
		{
			$(col).children(".col-titler").prepend("<div class='evnt-date'>" + startDate + "</div> ");
			if(lastMonth && ((month-1)>-1))
				$(col).children(".col-titler").append("<br><div class='evnt-fulldate'>" + monthNames[month-1] + " " + startDate + ", " + year + "</div>");
			else if (lastMonth &&((month-1)==-1))
				$(col).children(".col-titler").append("<br><div class='evnt-fulldate'>" + monthNames[11] + " " + startDate + ", " + (year-1) + "</div>");
			else
				$(col).children(".col-titler").append("<br><div class='evnt-fulldate'>" + monthNames[month] + " " + startDate + ", " + year + "</div>");
				
			if((startDate == lastDateCurr && !lastMonth) || (startDate == lastDatePrev && lastMonth)) //if this is the last day in the month, reset the count
			{
				startDate = 0;
				month++;
			}
		}
		startDate++;
	});
	
	popEvents(); // After refreshing the dates, populate the...er...schedule items for this week. As you can see, the terminology still confuses some.
	
}

function popEvents() {
	var repDates = [];
	
	$(".sch-day-col").each(function(index, col)
	{
		repDates.push($(col).children(".col-titler").children(".evnt-fulldate").html().split(',')[0]);
	}); // Populate the date range array created above, so that we can match up what events have dates that fall in this range.
	
	for (var i = 0; i < repDates.length; i++) {
		for (var j = 0; j < schItemCategory.length; j++) {
			if (schItemDate[j] == repDates[i]) {
				console.log(schItemDate[j] + " | " + repDates[i]);
			
			// So, this does not create a clone using the .clone() method...it was attempted before, though (the result was not optimal).
			var currentElem = schItem[j];
			$(".sch-day-col:eq(" + i + ")").append(currentElem);
			$(".sch-evnt").css("margin-left","auto")
			$(".sch-evnt").css("margin-right","auto")
			$(".sch-evnt").css("left","0")
			$(".sch-evnt").css("right","0")
			updateTime($(".sch-evnt"),$(".sch-day-col"));
			addDrag(".sch-evnt"); // Re-enables the events to snap onto the date columns here.	
			}
		}
	}
}

function createCategory() {
	window.location.href = './schedule?new=t&name=Untitled';
	//window.location.href = './schedule';
}

function editCategory(event, elem, id){
	event.stopImmediatePropagation();
	$(elem).siblings(".sch-evnt-editCat").css("display","none");
	$(elem).siblings(".sch-evnt-saveCat").css("display","inline");
	$(elem).siblings(".evnt-title").trigger('focus');
	document.execCommand('selectAll',false,null);
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color: red;' onclick='changeCategoryColor(event,this,\"Red\")'></div> ");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:orange;' onclick='changeCategoryColor(event,this,\"Orange\")'></div> ");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:yellow;' onclick='changeCategoryColor(event,this,\"Yellow\")'></div> ");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:green;' onclick='changeCategoryColor(event,this,\"Green\")'></div><br/>");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:blue;' onclick='changeCategoryColor(event,this,\"Blue\")'></div> ");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:indigo;' onclick='changeCategoryColor(event,this,\"Indigo\")'></div> ");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:violet;' onclick='changeCategoryColor(event,this,\"Violet\")'></div> ");
	$(elem).siblings(".futureColors").append("<div class='color-swatch' style='background-color:silver;' onclick='changeCategoryColor(event,this,\"Silver\")'></div>");
}

function changeCategoryColor(event,elem,col) {
	$(elem).parent().parent().css("background-color",col);
}

function saveCategory(event,elem,id) {
	window.location.href = './schedule?edit=t&id=' + id + '&name=' + $(elem).siblings(".evnt-title").html() + '&col=' + $(elem).parent().css("background-color");
}

function delCategory(event, elem, id)
{
	/*event.stopImmediatePropagation();
	$(elem).parent().slideUp("normal", function() { $(this).remove(); } );*/
	window.location.href = './schedule?dest=t&id=' + id;
	//window.location.href = './schedule';
}

function removeEvent(event, elem)
{
	event.stopImmediatePropagation();
	$(elem).parent().slideUp("normal", function() { $(this).remove(); } );
	
	var current = (int)($(elem).siblings(".evnt-numID").html());
	
	schItemCategory[current] = "";
	schItemColor[current] = "";
	schItemStart[current] = "";
	schItemNames[current] = "";
	schItemDate[current] = "";
	
}

function editEvent(event, elem)
{
	event.stopImmediatePropagation();
	$(elem).siblings(".evnt-title").trigger('focus');
	document.execCommand('selectAll',false,null);
	$(elem).siblings(".sch-evnt-save").css("display","inline");
	
}

function showOverlay(elem)
{
	$(".ui-widget-overlay").show();
	$(".overlay-box").show();
	var title = $(elem).children(".evnt-title").html();
	var desc = $(elem).children(".evnt-desc").html();
	var time = $(elem).children(".evnt-time").html();
	var arr = time.split(":");
	arr[0] = parseInt(arr[0])+$(elem).outerHeight()/gridHeight;
	var endTime = arr.join(":");
	$(".overlay-title").html(title);
	$(".overlay-desc").html(desc);
	$(".overlay-time").html(time + " - " + endTime);
}

function hideOverlay()
{
	$(".ui-widget-overlay").hide();
	$(".overlay-box").hide();
}

function setTitles()
{
	$(".evnt-desc").each(function(index, desc)
	{
		$(desc).attr("title", $(desc).text());
	});
}

//returns whether the element is in a schedule element
function inColumn(elem)
{
	var class_data = elem.parent().attr("class")
	if(class_data && class_data.indexOf("col-snap evt-snap") > -1)
		return true;
	else
		return false;
}
</script>
