<%= render "shared/header" %>
<%= javascript_include_tag "application"%>
<%= stylesheet_link_tag "jquery-ui.min" %>

<br /><div id="cont-hold">
	<h1 class="no-bold zero-bot">Your Schedule</h1>
	<h3 class="no-bold zero-top">It all starts here. The scheduling revolution</h3>
	
	<div id="sch-sidebar">
		<span id="evnt-desc" title="Drag these events onto the schedule to get started">Events</span>
		<div id="sch-tiles">
		<div class="sch-evnt sch-class">
			Class
			
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(this);" %>
		</div>
		<div class="sch-evnt sch-work">
			Work
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(this);" %>
		</div>
		<div class="sch-evnt sch-play">
			Play
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(this);" %>
		</div>
		<div class="sch-evnt sch-hangout">
			Hangout
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(this);" %>
		</div>
		</div>
	</div>
	<div id="sch-main">
		<div id="sch-days">
			<div class="sch-day-col">
				<span class="col-titler">Monday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Tuesday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Wednesday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Thursday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Friday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Saturday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Sunday</span>
				<div class="col-snap evt-snap"></div>
			</div>
		</div>
	</div>
</div>
<script>
var gridHeight = 30; //the height of the grid of resizing and dragging

$(document).ready(function()
{
	var sideHMTL; //the sidebar html for restoration upon drops
	sideHTML  = $("#sch-tiles").html();
	
	$("#evnt-desc").tooltip(); //toss a tooltip on the events text
	
	addDrag(); //add dragging, recursively
	
	//make the columns droppable
	$(".col-snap").droppable({
		drop: function( event, ui ) //called when event is dropped on a new column (not called on moving it in the column)
		{
			if(ui.draggable.parent().attr("id") == "sch-tiles")
			{
				var topVal = parseFloat(ui.draggable.css("top"));
				topVal += 16;
				if(topVal < 0) //make sure the event is not halfway off the top
				{
					topVal = 0;
				}
				else if(topVal > $(this).height() - ui.draggable.outerHeight()) //or bottom
				{
					topVal = $(this).height() - ui.draggable.outerHeight();
				}
				ui.draggable.css("top",topVal);
				ui.draggable.css("height", gridHeight-2);
			}
			
	    	var element = ui.draggable.detach();
			$(this).append(element);
			ui.draggable.css("left","0px");
			ui.draggable.children(".sch-evnt-icon").css("display","block");
			$(this).parent().css("background","");
			$(ui.draggable).resizable({
		    	handles: 'n, s',
		    	grid: [ 0, gridHeight ],
		    	containment: "parent"
			});
		},
		over: function( event, ui ) {
			$(this).parent().css("background","rgb(255, 255, 151)");
			$(ui.draggable).draggable("option","gridOn", true);
		},
		out: function( event, ui ) {
			$(this).parent().css("background","");
			$(ui.draggable).draggable("option","gridOn", false);
		}
	});	
	
	addDates();
});

//the dragging function
function addDrag()
{
	$("#sch-sidebar .sch-evnt").draggable({
		containment: "window",
		snap: ".evt-snap",
		snapMode: "inner",
		appendTo: ".col-snap",
		cancel: "img",
		revert: "invalid",
		revertDuration: 0,
		stack: ".sch-evnt",
		opacity: 0.7,
		gridOn: false,
		stop: function(event, ui) 
		{
			$("#sch-tiles").html(sideHTML);
			$(this).css("position","absolute");
			$(this).css("margin-top","0px");
			addDrag();
			
			var topVal = parseFloat($(this).css("top"));
			if(topVal < 0) //make sure the event is not halfway off the top
			{
				topVal = 0;
			}
			else if(topVal > $(this).parent().height() - $(this).outerHeight()) //or bottom
			{
				topVal = $(this).parent().height() - $(this).outerHeight();
			}
			$(this).css("top",topVal);
		},
		drag: function(event, ui)
		{
			//custom grid stuff using drag
	        if($(this).parent().attr("id") == "sch-tiles")
	        	var topRemainder = (ui.position.top + 16) % gridHeight;
	        else
	        	var topRemainder = (ui.position.top) % gridHeight;
			if($(this).draggable('option', 'gridOn'))	
	        ui.position.top = ui.position.top - topRemainder;
		}
	});
}

function addDates()
{
	var currDate = new Date();
	var day = currDate.getDay();
	var date = currDate.getDate();
	var dayOffset = day - 1;
	var startDate;
	
	if(day == 0)
		startDate = date - 6;
	else
		startDate = date - dayOffset;
	
	$(".sch-day-col").each(function(index, col)
	{
		if(startDate == date) //if this is today
		{
			$(col).attr("id","sch-col-today");	
		}
		$(col).children(".col-titler").prepend(startDate + " ");
		startDate++;
	});
}

function removeEvent(elem)
{
	$(elem).parent().slideUp("normal", function() { $(this).remove(); } );
}
</script>
