<%= render "shared/header" %>
<%= javascript_include_tag "application"%>
<%= stylesheet_link_tag "jquery-ui.min" %>

<div class="ui-widget-overlay" onclick="hideOverlay();"></div>
<div class="overlay-box">
	<div class="overlay-time">10:00am - 12:00pm</div>
	<div class="overlay-title">CS 331</div>
	<div class="overlay-desc">Look at this young description of a CS 331 event that we are talking about in this place</div>
</div>

<br /><div id="cont-hold">
	<h1 class="no-bold zero-bot">Your Schedule</h1>
	<h3 class="no-bold zero-top">It all starts here. The scheduling revolution</h3>
	
	<div id="sch-sidebar">
		<span id="sidebar-title" title="Drag these events onto the schedule to get started">Events</span>
		<div id="sch-tiles">
		<div class="sch-evnt sch-class">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay()">Class</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay()"	>CS 331 with Professor Beckman. Location: E1 218</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		<div class="sch-evnt sch-work">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay()">Work</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay()">indigoBox Website Redesign at iit</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		<div class="sch-evnt sch-play">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay()">Play</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay()">Oblivion - Play through first three story missions</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		<div class="sch-evnt sch-hangout">
			<div class="evnt-time">7:30</div>
			<div class="evnt-title center-text dis-sel" contenteditable="true" onclick="showOverlay()">Hangout</div>
			<div class="evnt-desc dis-sel" onclick="showOverlay()">Spend time with Robert and Eileen at Bee & Tea</div>
			<%= image_tag "quill.png", :class => "sch-evnt-edit sch-evnt-icon", :onclick => "editEvent(event, this);" %>
			<%= image_tag "close.png", :class => "sch-evnt-close sch-evnt-icon", :onclick => "removeEvent(event, this);" %>
		</div>
		</div>
	</div>
	<div id="sch-main">
		<div id="sch-days">
			<div class="sch-day-col">
				<span class="col-titler">Monday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Tuesday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Wednesday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Thursday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Friday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Saturday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Sunday</span>
				<div class="col-snap evt-snap"></div>
			</div>
		</div>
	</div>
</div>
<script>
var gridHeight = 25; //the height of the grid of resizing and dragging
var border = 2; //the border at the bottom for height stuff
var ctrlPressed = false;

$(window).keydown(function(evt) {
  if (evt.which == 17) { // ctrl
    ctrlPressed = true;
  }
}).keyup(function(evt) {
  if (evt.which == 17) { // ctrl
    ctrlPressed = false;
  }
});


$(document).ready(function()
{
	setTitles();
	
	var sideHMTL; //the sidebar html for restoration upon drops
	sideHTML  = $("#sch-tiles").html();
	
	$("#sidebar-title").tooltip({
		position: { my: "left top", at: "left bottom"}	
	}); //toss a tooltip on the events text
	
	
	//Add tooltips, which are also in add drag
	$(".evnt-desc").tooltip({
		position: { my: "left+15 top", at: "left bottom"}
	}); //toss a tooltip on the events text
	
	addDrag(); //add dragging, recursively
	
	//make the columns droppable
	$(".col-snap").droppable({
		drop: function( event, ui ) //called when event is dropped on a new column (not called on moving it in the column)
		{
			if(ui.draggable.parent().attr("id") == "sch-tiles")
			{
				var topVal = parseFloat(ui.draggable.css("top"));
				topVal += 16;
				if(topVal < 0) //make sure the event is not halfway off the top
				{
					topVal = 0;
				}
				else if(topVal > $(this).height() - ui.draggable.outerHeight()) //or bottom
				{
					topVal = $(this).height() - ui.draggable.outerHeight();
				}
				ui.draggable.css("top",topVal);
			}
			
	    	var element = ui.draggable.detach();
			$(this).append(element);
			ui.draggable.css("left","0px");
			//ui.draggable.children(".sch-evnt-icon").show();
			ui.draggable.children(".evnt-desc").show();
			$(this).parent().css("background","");
			
			$(ui.draggable).resizable({
		    	handles: 'n, s',
		    	grid: [ 0, gridHeight ],
		    	containment: "parent"
			});
		},
		over: function( event, ui ) {
			$(this).parent().css("background","rgb(255, 255, 151)");
			$(ui.draggable).draggable("option","gridOn", true);
		},
		out: function( event, ui ) {
			$(this).parent().css("background","");
			$(ui.draggable).draggable("option","gridOn", false);
		}
	});	
	
	addDates();
});

//the dragging function
function addDrag(selector)
{
	if (selector == null)
		selector = "#sch-sidebar .sch-evnt";
		
	$(selector).draggable({
		containment: "window",
		snap: ".evt-snap",
		snapMode: "inner",
		appendTo: ".col-snap",
		cancel: "img",
		revert: "invalid",
		revertDuration: 0,
		stack: ".sch-evnt",
		opacity: 0.7,
		distance: 10,
		gridOn: false,
		start: function(event, ui)
		{
			var height = parseFloat($(this).css("height"));
			if((height+2)%gridHeight != 0)
				$(this).css("height", (gridHeight*3)-2);
			$(this).children(".evnt-time").show();
			
			if(ctrlPressed && $(this).parent().attr("id") != "sch-tiles")
			{
				var clone = $(ui.helper).clone();;
				$(this).parent().append(clone);
				clone.removeClass("ui-draggable ui-draggable-handle ui-resizable ui-draggable-dragging");  
				clone.css("opacity","1");
				clone.css("z-index","0")
				clone.children('.ui-resizable-handle').remove();
				
				addDrag(clone);
				$(clone).resizable({
			    	handles: 'n, s',
			    	grid: [ 0, gridHeight ],
			    	containment: "parent"
				});
			}
		},
		stop: function(event, ui) 
		{
			$("#sch-tiles").html(sideHTML);
			
			$(".evnt-title").on("keydown",function(e){
			    var key = e.keyCode || e.charCode;  // ie||others
			    if(key == 13)  // if enter key is pressed
			    {
					e.preventDefault();
				    $(this).blur();  // lose focus	
			    }
			});
			
			$("#sch-tiles .evnt-desc").tooltip({
				position: { my: "left+15 top", at: "left bottom"}
			}); //toss a tooltip on the events text
			
			$(this).css("position","absolute");
			$(this).css("margin-top","0px");
			addDrag();
			
			var topVal = parseFloat($(this).css("top"));
			if(topVal < 0) //make sure the event is not halfway off the top
			{
				topVal = 0;
			}
			else if(topVal > $(this).parent().height() - $(this).outerHeight()) //or bottom
			{
				topVal = $(this).parent().height() - $(this).outerHeight();
			}
			$(this).css("top",topVal);
		},
		drag: function(event, ui)
		{
	        var timeDiv = $(this).children(".evnt-time");
			var arr = timeDiv.html().split(":");

			//custom grid stuff using drag
	        if($(this).parent().attr("id") == "sch-tiles")
	        {
	        	var topRemainder = (ui.position.top + 16) % gridHeight;
				if($(this).draggable('option', 'gridOn'))
				{
	        		ui.position.top = ui.position.top - topRemainder;
					arr[0] = (ui.position.top + 16)/gridHeight + 7;
				}
	        }
	        else
	        {
	        	var topRemainder = (ui.position.top) % gridHeight;
				if($(this).draggable('option', 'gridOn'))
		     	{
		     		ui.position.top = ui.position.top - topRemainder;
					arr[0] = ui.position.top/gridHeight + 7;
	        	}
	        }
	        

			timeDiv.html(arr.join(":"));
		}
	});
}

function addDates()
{
	var currDate = new Date();
	var day = currDate.getDay();
	var date = currDate.getDate();
	var month = currDate.getMonth();
	var year = currDate.getYear();
	var dayOffset = day - 1;
	var startDate;
	var lastCurrMonth = new Date(year, month + 1, 0);
	var lastPrevMonth = new Date(year, month, 0);
	var lastDateCurr = lastCurrMonth.getDate();
	var lastDatePrev = lastPrevMonth.getDate();
	var monthNames = ["January", "February", "March", "April", "May", "June",
	"July", "August", "September", "October", "November", "December"];
	
	if(day == 0)
		startDate = date - 6;
	else
		startDate = date - dayOffset;
	
	if(startDate < 0) //if the start is in the last month
		startDate = lastDatePrev + startDate;
	
	$(".sch-day-col").each(function(index, col)
	{
		if(startDate == date) //if this is today
		{
			$(col).attr("id","sch-col-today");	
		}
		if(startDate <= lastDateCurr)
		{
			$(col).children(".col-titler").prepend("<div class='evnt-date'>" + startDate + "</div> ");
			$(col).children(".col-titler").append("<br>" + monthNames[month]);
			if(startDate == lastDateCurr) //if this is the last day in the month, reset the count
			{
				startDate = 0;
				month++;
			}
		}
		startDate++;
	});
}

function removeEvent(event, elem)
{
	event.stopImmediatePropagation();
	$(elem).parent().slideUp("normal", function() { $(this).remove(); } );
}

function editEvent(event, elem)
{
	event.stopImmediatePropagation();
	$(elem).siblings(".evnt-title").trigger('focus');
	document.execCommand('selectAll',false,null);
}

function showOverlay(elem)
{
	$(".ui-widget-overlay").show();
	$(".overlay-box").show();
	var title = $(elem).children(".evnt-title").html();
	var desc = $(elem).children(".evnt-desc").html();
	var time = $(elem).children(".evnt-time").html();
	var arr = time.split(":");
	arr[0] = parseInt(arr[0])+$(elem).outerHeight()/gridHeight;
	var endTime = arr.join(":");
	$(".overlay-title").html(title);
	$(".overlay-desc").html(desc);
	$(".overlay-time").html(time + " - " + endTime);
}

function hideOverlay()
{
	$(".ui-widget-overlay").hide();
	$(".overlay-box").hide();
}

function setTitles()
{
	$(".evnt-desc").each(function(index, desc)
	{
		$(desc).attr("title", $(desc).text());
	});
}
</script>
