<% content_for :title do %> - Status<% end %>
<%= stylesheet_link_tag "pages" %>

<div id="status-titler">
	<div class="container">
		<div class="two-col">
			<%= image_tag("pages/SegoeUI-Graph.png") %>
			<div>
				<div id="title">Carpe Status</div>
				<div id="sub-title">Since we're in active development, our features aren't all done. Here's a quick guide to our progress.</div>
			</div>
		</div>
		<div id="small-text">
			Interested in following along as we build Carpe?
			<a href="http://carpe-dev.tumblr.com/">Visit our development blog!</a>
		</div>
	</div>
</div>

<div id="tiles-container" class="container">
	<div class="status-tile">
		<div class="image-container">
			<%= image_tag("pages/CarpeLetter.png") %>
		</div>
		<div class="tile-title">Carpe</div>
		<div class="tile-status alpha">Alpha</div>
		<p class="tile-text">
			The core components of the Carpe platform have been created, and we're showing you them now! However, there is plenty more work to do on the functionality that will make Carpe truly stand stand out.
		</p>
	</div>

	<div class="status-tile">
		<div class="image-container">
			<%= image_tag("pages/SegoeUI-Cal.png") %>
		</div>
		<div class="tile-title">Monthly View</div>
		<div class="tile-status alpha">Alpha</div>
		<p class="tile-text">
			Monthly view has been visually formatted, but is read-only at the moment and is thus in the Alpha state. Many more functions are still to come!
		</p>
	</div>

	<div class="status-tile">
		<div class="image-container">
			<%= image_tag("pages/SegoeUI-People-Fuchsia.png") %>
		</div>
		<div class="tile-title">Group Scheduling</div>
		<div class="tile-status dev">Pre-Alpha</div>
		<p class="tile-text">
			User Groups are being worked on in the background, and have not yet been released. Keep an eye out for news coming soon!
		</p>
	</div>
</div>
