<% content_for :title do %> - Status<% end %>
<%= stylesheet_link_tag "pages" %>

<div id="status-titler">
	<div class="container">
		<div class="two-col">
			<%= image_tag("pages/SegoeUI-Graph.png") %>
			<div>
				<div id="title">Carpe Status</div>
				<div id="sub-title">Since we're in active development, our features aren't all done. Here's a quick guide to our progress.</div>
			</div>
		</div>
		<div id="small-text">
			Interested in following along as we build Carpe?
			<a href="http://carpe-dev.tumblr.com/">Visit our development blog!</a>
		</div>
	</div>
</div>

<div id="tiles-container" class="container">
	<div class="status-tile">
		<div class="image-container">
			<%= image_tag("pages/CarpeLetter.png") %>
		</div>
		<div class="tile-title">Carpe</div>
		<div class="tile-status alpha">Alpha</div>
		<p class="tile-text">
			The core components of the Carpe platform have been made publicly available. However, some advanced features are still in the works.
		</p>
	</div>

	<div class="status-tile">
		<div class="image-container">
			<%= image_tag("pages/SegoeUI-Cal.png") %>
		</div>
		<div class="tile-title">Monthly View</div>
		<div class="tile-status beta">Beta</div>
		<p class="tile-text">
			Our monthly calendar view is fully interactive, but we're still working on visual formatting.
		</p>
	</div>

	<div class="status-tile">
		<div class="image-container">
			<%= image_tag("pages/SegoeUI-People-Fuchsia.png") %>
		</div>
		<div class="tile-title">Group Scheduling</div>
		<div class="tile-status alpha">Alpha</div>
		<p class="tile-text">
			You can now create and manage group schedules with other users! Be sure to let us know how we can improve this feature.
		</p>
	</div>
</div>
