<h2 class="no-bold">All Members</h2>

<div class="subtle-container">
  <header class="member-stats">
    <h3>Members</h3>
    <h4><%= @group.members.count %></h4>

    <h3>Editors</h3>
    <h4><%= @group.members_with_role(:editor).count %></h4>

    <h3>Admins</h3>
    <h4><%= @group.members_with_role(:admin).count %></h4>

    <%= content_tag(:span, "Invite Members", id: "invite-members", class: "wide button") if can_invite_members? %>
    <%= link_to("Manage Members", group_path(@group, view: :manage_members), class: "wide button") if can_manage_members? %>
  </header>

  <main class="flex-list js-lazy-loading-list" data-next-page-path="<%= path_to_next_page @members %>?view=members"></main>
</div>