<h2 class="no-bold">All Members</h2>

<div class="subtle-container">
  <header class="member-stats">
    <h3>Members</h3>
    <h4><%= @group.members_count %></h4>

    <h3>Editors</h3>
    <h4><%= @group.members_count(:editor) %></h4>

    <h3>Admins</h3>
    <h4><%= @group.members_count(:admin) %></h4>

    <%= link_to "Invite Members", "some ajax path...", class: "wide button" %>
    <%= link_to "Manage Members", group_path(@group, page: :manage_members), class: "wide button" %>
  </header>

  <main class="flex-list">
    <% @group.users.all.each do |member| %>
      <div class="basic-member-block">
        <%= link_avatar member %>
        <main><%= member.name %></main>
      </div>
    <% end %>
  </main>
</div>