<%= stylesheet_link_tag "activity" %>

<div id="body">
  <main class="content">
    <span class="carpe-color current-header">Current Events</span>
      <% if @upcoming_events.length > 0 %>
        <% @upcoming_events.each do |event| %>
          <%= render "shared/event_tile", event:event %>
        <% end %>
      <% else %>
        <span> This group has no events, make some! </span>
      <% end %>
  </main>

  <aside id="group-overview-info" class="vertical flex-list sidebar with-horizontal-borders">
    <div>
      <h2>About</h2>
      <p><%= @group.description %></p>
    </div>

    <div>
      <div id="side-member-pane">
        <% if @group.empty? %>
          <span> This group has no members </span>
        <% else %>
          <h2>Members <%= link_to "View More", group_path(@group, view: :members), id:"view-all-link" %></h2>
          <% @group.users_groups[0 .. 4].each do |user| %>
            <%= link_avatar user.user %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <h2>Recent Actions</h2>
      <% if @activity.length > 0 %>
        <% @activity.each do |act| %>
          <%= render "small_activity_card", act:act %>
        <% end %>
      <% else %>
       <span> This group has no recent actions </span>
      <% end %>
    </div>
  </aside>
</div>