<%= stylesheet_link_tag "activity" %>

<div id="body">
  <main class="content">
    <span class="carpe-color current-header">Current Events</span>
    <% if cannot? :view_details, @group %>
      <%= image_tag "lock", alt: "Lock", class: "lock -large" %>
      <span>To see upcoming events, you have to join the group first.</span>
    <% elsif @group.upcoming_events.empty? %>
      <span> This group has no events, make some! </span>
    <% else %>
      <%= render partial: "shared/event_tile",
                 collection: visible_upcoming_events,
                 as: :event %>
    <% end %>
  </main>

  <aside id="group-overview-info" class="vertical flex-list sidebar with-horizontal-borders">
    <div>
      <h2>About</h2>
      <p>
        <% if @group.description.present? # If the description is provided %>
          <%= @group.description %>
        <% else %>
          <em>This group has no description.</em>
        <% end %>
      </p>
    </div>

    <div>
      <div id="side-member-pane">
        <h2>
            Members
            <% if can? :view_details, @group %>
              <%= link_to "View More", group_path(@group, view: :members), class: "normal carpe-color" %>
            <% end %>
        </h2>
        <% if cannot? :view_details, @group %>
          <div class="lock-msg">
            <%= image_tag "lock", alt: "Lock", class: "lock -small" %>
            <span>You cannot see members unless you are a member of this group</span>
          </div>
        <% elsif @group.empty? %>
          <span> This group has no members </span>
        <% else %>
          <% @group.members.first(4).each do |member| %>
            <%= link_avatar member %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <h2>Recent Actions</h2>
      <% if cannot? :view_details, @group %>
        <div class="lock-msg">
          <%= image_tag "lock", alt: "Lock", class: "lock -small" %>
          <span>You cannot see recent activities unless you are a member of this group</span>
        </div>
      <% elsif @activities.empty? %>
        <span> This group has no recent actions </span>
      <% else %>
        <%= render partial: "groups/small_activity_card", collection: @activities, as: :act %>
      <% end %>
    </div>
  </aside>
</div>